@model MCNMedia_Dev.Models.User

@{
    ViewData["Title"] = "AddUser";

}

<form asp-action="AddUser" class="needs-validation" novalidate>

    <div class="card">
        <div class="card-body">

           
           
            <div class="form-group row">
                <label asp-for="FirstName" for="validationCustom01" class="col-sm-3 col-form-label">First Name *</label>
                <div class="col-sm-9">
                   
                    <input asp-for="FirstName" class="form-control" id="validationCustom01" placeholder="First Name" required />
                    <div class="invalid-feedback">
                        Please Provide a valid First Name
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="LastName" for="validationCustom02" class="col-sm-3 col-form-label">Last Name *</label>
                <div class="col-sm-9">

                    <input asp-for="LastName" class="form-control" placeholder="Last Name" id="validationCustom02" required />
                  
                    <div class="invalid-feedback">
                        Please Provide a valid Last Name
                    </div>
                </div>
               
            </div>
            <div class="form-group row">
                <label asp-for="EmailAddress" for="validationCustom03" class="col-sm-3 col-form-label">Email Address *</label>
                <div class="col-sm-9">
                    
                    <input asp-for="EmailAddress" class="form-control" placeholder="Email" type="email" id="validationCustom03" required />
                    <div class="invalid-feedback">
                        Please Provide a valid Email Address
                    </div>
                </div>
               
            </div>
            <div class="form-group row">
                <label asp-for="LoginPassword" for="validationCustom04" class="col-sm-3 col-form-label">Login Password *</label>
                <div class="col-sm-9">
                   
                    <input asp-for="LoginPassword" min="8" class="form-control" placeholder="Password" id="validationCustom04" required />
                    <div class="invalid-feedback">
                        Please Provide a valid Login Password
                    </div>
                </div>
               
            </div>


            <div class="form-group row">
                <label asp-for="RoleId" class="col-sm-3 col-form-label">Role *</label>
                <div class="col-sm-9">
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                    <select asp-for="RoleId" id="select1" required class="custom-select" asp-items="@(new SelectList(@ViewBag.State,"Value","Text"))">
                        <option value="0" selected disabled>--Select Role--</option>
                    </select>
                    <div class="invalid-feedback">
                        Please Provide a valid Role
                    </div>
                </div>


            </div>
            <div class="form-group float-right">

                <button onclick="AddUser()" type="submit" class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="mdi mdi-content-save text-white"></i>Add</button>
                <a id="back" class="btn btn-warning btn-sm text-white " data-dismiss="modal" aria-label="Close" title="Cancel"><i class="fa fa-window-close-o text-white"></i> Cancel</a>

            </div>
        </div>
    </div>

</form>



<script>
   

    function AddUser() {
             
        var firstname = document.getElementById('FirstName').value;
        var lastname = document.getElementById('LastName').value;
        var emailaddress = document.getElementById('EmailAddress').value;
        var loginpassword = document.getElementById('LoginPassword').value;
        var roleid = document.getElementById('RoleId').value;
        var formData = new FormData();
        formData.append("firstname", firstname);
        formData.append("lastname", lastname);
        formData.append("emailaddress", emailaddress);
        formData.append("loginpassword", loginpassword);
        formData.append("roleid", roleid);



        $.ajax(
            {
                type: "POST",
                url: "/User/AddUser/",

                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType

                success: function (result) {
                    $('#AddUserPopUp').modal('hide');
                    loadRecording();


                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            }
        );
    }
</script>
