@model MCNMedia_Dev.Models.User

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="AddUser">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-body">
            <h4 class="modal-title">Add New User</h4>

            <div class="form-group row"> 
                <label asp-for="FirstName" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="EmailAddress" class="col-sm-3 col-form-label">Email Address</label>
                <div class="col-sm-9">
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    <input asp-for="EmailAddress" class="form-control" placeholder="Email" type="email" />
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="LoginPassword" class="col-sm-3 col-form-label">Login Password</label>
                <div class="col-sm-9">
                    <span asp-validation-for="LoginPassword" class="text-danger"></span>
                    <input asp-for="LoginPassword" class="form-control" placeholder="Password" />
                </div>

            </div>

            <div class="form-group row">
                <label asp-for="RoleId" class="col-sm-3 col-form-label">Role</label>
                <div class="col-sm-9">
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                    @*<input asp-for="RoleId" class="form-control text-small" placeholder="Role" />*@
                    <select asp-for="RoleId" id="select1" class="form-control" asp-items="@(new SelectList(@ViewBag.State,"Value","Text"))">
                        <option>--Select Role--</option>
                    </select>
                </div>
            </div>
            <div class="float-right">
                <button type="submit" value="Create" class="btn btn-primary "><i class="fa fa-plus"></i> Add User</button>
                <a id="back" class="btn btn-secondary btn-md " href="../User/ListUser"><i class="fa fa-chevron-left"></i> Back</a>
            </div>
        </div>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}