@model MCNMedia_Dev.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-body">
            <h4 class="modal-title">Edit User</h4>
            <input type="hidden" asp-for="UserId" />
           

            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EmailAddress" class="col-sm-3 col-form-label">Email Address</label>
                <div class="col-sm-9">
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    <input asp-for="EmailAddress" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LoginPassword" class="col-sm-3 col-form-label">Login Password</label>
                <div class="col-sm-9">
                    <span asp-validation-for="LoginPassword" class="text-danger"></span>
                    <input asp-for="LoginPassword" class="form-control" />
                </div>
            </div>
            
            <div class="form-group row">
                <label asp-for="RoleId" class="col-sm-3 col-form-label">Role</label>
                <div class="col-sm-9">
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                    <input asp-for="RoleId" class="form-control" />
                </div>
            </div>
            <div class="float-right">
                <button type="submit" value="Update" class="btn btn-primary "><i class="fa fa-plus"></i> Update</button>
                <a id="back" class="btn btn-secondary btn-md " href="/User/ListUser"><i class="fa fa-chevron-left"></i> Back</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
