
@{
    ViewData["Title"] = "ConfirmOtpCode";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


@using Microsoft.AspNetCore.Http;
@{
    TempData.Keep("OTPCode");
    TempData.Keep("Email");

}
<style>
    .btn-outline-blue {
        color: #1f4a79;
        border-color: #1f4a79;
    }

        .btn-outline-blue:hover {
            color: #fff;
            background-color: #1f4a79;
            border-color: #343a40;
        }
</style>
@if (ViewBag.Error == 2)
{
    <div class="form-group col-sm-12 center  text-center">
        <div class=" alert alert-danger">
            Invalid Otp Code Kindly Provide A Valid OTP Code which is Already Sended to Your Email Address
        </div>
    </div>
}

@if (ViewBag.EmailShow == 2)
{

<div class="form-group row">
    <div class="col-lg-12">
        <div class=" alert alert-success">
            the code has been successfully send to your email address (@ViewBag.EmailAddress) kindly check your email address to reset password
        </div>
    </div>
</div>
}
<form asp-controller="Subscription" asp-action="ConfirmOtpCode" method="post">
    @if (ViewBag.Error == 3)
    {
        <div class="form-group col-sm-12 center  text-center">
            <div class=" alert alert-danger">
                Error occured while sending an email, please contact the administrator. Below is the error message
                <br />
                @TempData["ErrorMessage"]
            </div>
        </div>
    }
    else
    {
        <div class="row m-0 mt-5 mb-5 ]">
            <div class="col-3 d-lg-block d-none"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class=" row col-md-12 pt-4">
                    <p class="text-pink font-20 text-left ">
                        We have emailed you a reset code. Please enter it below.

                    </p>
                </div>
                <div class="row text-center">
                    <div class=" font-36 text-center pt-4 pb-4 bg-white container avantgardece" style="color: #1f4a79">
                        Please enter the reset code
                    </div>

                    <div class="form-group col-sm-2 center"></div>
                    <div class="form-group col-sm-8 center">
                        @*<label asp-for="ContactEmail">Email</label>*@
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <input class="form-control selectWrapper text-center  .inputs" name="Input1" id="Input1" required maxlength="1">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control selectWrapper text-center .inputs1" name="Input2" id="Input2" required maxlength="1">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control selectWrapper text-center .inputs" name="Input3" id="Input3" required maxlength="1">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control selectWrapper text-center .inputs" name="Input4" id="Input4" required maxlength="1">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control selectWrapper text-center .inputs" name="Input5" id="Input5" required maxlength="1">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control selectWrapper text-center .inputs" name="Input6" id="Input6" required maxlength="1">
                            </div>
                            <input type="hidden" id="OtpCode" />
                        </div>

                    </div>
                    <div class="form-group col-sm-3 center"></div>
                    <div class="form-group col-sm-3 center"></div>

                    <div class="form-group col-sm-12 float-right rounded-sm ">

                        <button type="submit" id="btnSubmit" class="btn bg-blue my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-14">Submit</button>


                    </div>
                    <div class="form-group col-sm-12 float-right rounded-sm ">
                        <a asp-controller="website" asp-action="Home" class="text-blue" style="color: #1f4a79">Go back to Home ?</a>
                    </div>
                </div>
            </div>
            <div class="col-1 d-lg-block d-none"></div>
        </div>
    }
</form>
<script>
    $("#Input1").keyup(function () {

        
        if (this.value.length == this.maxLength) {
           
            $('#Input2').focus();
    }
    });
    $("#Input2").keyup(function () {


        if (this.value.length == this.maxLength) {

            $('#Input3').focus();
        }
    });
    $("#Input3").keyup(function () {


        if (this.value.length == this.maxLength) {

            $('#Input4').focus();
        }
    });
    $("#Input4").keyup(function () {


        if (this.value.length == this.maxLength) {

            $('#Input5').focus();
        }
    });
    $("#Input5").keyup(function () {


        if (this.value.length == this.maxLength) {

            $('#Input6').focus();
        }
    });

  
</script>