@model IEnumerable<MCNMedia_Dev.Models.Subscriptions>

@{
    ViewData["Title"] = "Revenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mb-3">
    <div class="card-header card-header-custom">
        Revenue Summary
    </div>
    <div class="card-body">
        <div class="">
            <form method="post" asp-action="SearchRevenue" asp-controller="Subscription">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">From Date</label>
                            <div class="col-sm-8">
                                <div id="datepicker-popup" class="input-group date datepicker">
                                    <input type="text" id="SetFromDate" name="fromDate" class="form-control" placeholder="From Date" />
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="ti-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">To Date</label>
                            <div class="col-sm-8">
                                <div id="datepicker-popup2" class="input-group date datepicker">
                                    <input type="text" id="SetToDate" name="toDate" class="form-control" placeholder="To Date" />
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="ti-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                       
                    </div>


                    <div class="col-md-6">
                        <div class="form-group  row">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary btn-sm text-white" title="Search"><i class="mdi mdi-table-search text-white"></i>Search</button>
                                <a asp-controller="Subscription" asp-action="Revenue" class="btn btn-warning btn-sm text-white" title="Cancel"><i class="mdi mdi-cancel text-white"></i>Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header card-header-custom">Total Revenue <label class="float-right" >&#xa3;@ViewBag.FullAmount</label> </div>
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="sortStyle"> Package</th>
                                <th class="sortStyle"> No of Subscriptions</th>
                                <th class="sortStyle"> Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.PackageTitle)
                                    </td>

                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.NoOfPackages)
                                    </td>
                                    <td class="text-wrap">
                                        &#xa3;@Html.DisplayFor(modelItem => item.PaidAmount)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(
        function () {
            $('#SetFromDate').val('@ViewBag.FromDate');
            $('#SetToDate').val('@ViewBag.ToDate');
        });
</script>


<script>
    $(document).ready(function () {
        $('#order-listing').removeAttr('hidden');
    });


</script>
