@model MCNMedia_Dev.Models.Subscriptions
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Subscribe";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

}
<style>
    .btn-outline-blue {
        color: #1f4a79;
        border-color: #1f4a79;
    }

        .btn-outline-blue:hover {
            color: #fff;
            background-color: #1f4a79;
            border-color: #343a40;
        }
</style>
@if (ViewBag.Error == 2)
{
    <div class="form-group col-sm-12 center " style="border:1px solid red">
        <label class="text-red">
            You do not Subscribe Yet. Kindly Subscribe
        </label>
    </div>
}
else if (ViewBag.Error == 3)
{
    <div class="form-group col-sm-12 center" style="border:1px solid red">
        <label class="text-red">
            Your Current Subscription is Expired. Kindly Subscribe Again
        </label>
    </div>
}
<form asp-controller="Subscription" asp-action="UserLogin" method="post">



    <div class="row m-0 mt-5 mb-5 ]">
        <div class="col-3 d-lg-block d-none"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <div class="row text-center">
                <div class=" font-36 text-center pt-4 pb-4 bg-white container avantgardece" style="color: #1f4a79">
                    Login Now
                </div>

                <div class="form-group col-sm-3 center"></div>
                <div class="form-group col-sm-6 center">
                    @*<label asp-for="ContactEmail">Email</label>*@
                    <span class="text-danger"></span>
                    <input class="form-control selectWrapper text-center" name="Email" type="email" required placeholder="Email">
                </div>
                <div class="form-group col-sm-3 center"></div>
                <div class="form-group col-sm-3 center"></div>
                <div class="form-group col-sm-6 p-3">
                    @*<label class="col-form-label">Message</label>*@
                    <span class="text-danger"></span>
                    <input class="form-control selectWrapper text-center" type="Password" required name="Password" placeholder="Password">
                </div>
                <div class="form-group col-sm-12 float-right rounded-sm ">
                    @if (ViewBag.LoginLocation=="Packages")
                    {
                        <button type="submit" class="btn bg-blue my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-14">Sign In</button>

                    }
                    else if(ViewBag.LoginLocation == "Home")
                    {
                        <button type="submit" asp-action="HomeSubscriberLogin" class="btn bg-blue my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-14">Sign In</button>

                    }
                </div>
                <div class="form-group col-sm-12 float-right rounded-sm ">
                    <a asp-action="Packages" class="text-blue" style="color: #1f4a79">Not have an account. Subscribe a new Package now ?</a>
                </div>
            </div>
        </div>
        <div class="col-1 d-lg-block d-none"></div>
    </div>

</form>