@using Microsoft.AspNetCore.Http;

<style>
    .invalid-feedback2 {
        display: block;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }

    .textboxstyle {
        display: block;
        width: 100%;
        height: 2.875rem;
        padding: 0.875rem 1.375rem;
        padding-right: 1.375rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #495057;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 2px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

        .textboxstyle:focus {
            color: #495057;
            background-color: #fff;
            border-color: #dc3545;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(246, 204, 208, 0.25);
        }
</style>
<div class="row w-100">
    <div class="col-lg-12">
        <div class="auth-form-transparent text-left text-center">

            <img src="~/theme/Changepassword.jpg" style="border-radius:50px; " width="100px" height="100px;" class="lock-profile-img bg-white" alt="img">
           
            <form class="needs-validation " novalidate id="ChangePassword">
                <h3>@Context.Session.GetString("UserName")</h3>
                <input type="hidden" value='@Context.Session.GetString("UserName")' id="hdnUserName" />
                <input type="hidden" value='@Context.Session.GetInt32("UserId")' id="hdnUserId" />
                <div class="form-group">
                    <label for="examplePassword1">Old Password</label>

                    <input type="password" class="form-control text-left" id="OldPassword" placeholder="Enter Old Password" required>
                    <div class="invalid-feedback" id="OldPasswordLabel">
                        Your Old Password is Wrong. Please Provide a valid Old Password
                    </div>
                </div>
                <div class="form-group">
                    <label for="examplePassword1">New Password</label>
                    <input type="password" class="form-control text-left" id="NewPassword" placeholder="Enter New Password" required>
                    <div class="invalid-feedback text-left" id="ChangePasswordAlertLabel">
                        <ul>
                            <li>Password field required</li>
                            <li>password must be atleast 8 character long</li>
                            <li>password must contain atleast 1 Upper Case letter</li>
                            <li>password must contain atleast 1 Lower Case letter</li>
                            <li>password must contain atleast 1 Numeric Digit</li>
                            <li>password must not contain User First Name or Last Name</li>
                            <li>password must not contain Sequence of Character of digits number </li>
                            <li>password must not contain Your First Name & Last Name </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group mt-0">
                    <label for="examplePassword1">Confirm Password</label>
                    <input type="password" class="form-control text-left" id="ChangeConfirmPassword" placeholder="Enter Confirm Password" required>
                    <div class="invalid-feedback" id="ConfirmPasswordLabel">
                        Kindly Provide a valid Password confirm password must match with password
                    </div>
                </div>
                
                    <div class="row">
                        <div class=" col-sm-12">
                            <button type="submit" class="btn btn-block btn-success btn-md font-weight-medium" id="BtnChangePasswordUser"><i class="mdi mdi-textbox-password"></i> Change</button>

                        </div>
                        <div class="col-sm-12 mt-2">
                            <a class="btn btn-block btn-warning btn-md font-weight-medium text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="mdi mdi-backspace "></i> Back</span>
                            </a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<script>
  
        $('#NewPassword').keyup(function () {
            var Check = CheckChangeValidation();
            if (check) {

                $('#ChangePasswordAlertLabel').attr('class', 'invalid-feedback');
                $('#NewPassword').attr('class', 'form-control');
            }
        });

        function CheckChangeValidation() {
            var check = true;
            var UserName = document.getElementById('hdnUserName').value;
            var User = UserName.split(' ');
            var FirstName = User[0];
            var LastName = User[1];
            var Passwordcheck = document.getElementById('NewPassword').value;
            if ($("#NewPassword").val().length < 8)
            {
                   check = false;
            }
            else if (!/\d/.test($("#NewPassword").val()))
            {
                check = false;
            }
            else if
                (!/[a-z]/.test($("#NewPassword").val()))
            {
                 check = false;
            }
            else if (!/[A-Z]/.test($("#NewPassword").val())) {
                check = false;
            } else if (!/([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/.test($("#NewPassword").val())) {
                check = false;
            }
            else if (Passwordcheck.toLowerCase().includes(FirstName.toLowerCase()) || Passwordcheck.toLowerCase().includes(LastName.toLowerCase())) {
                check = false;
            }

            if (check == false) {
                $('#ChangePasswordAlertLabel').attr('class', 'invalid-feedback2 text-left');
                $('#NewPassword').attr('class', 'textboxstyle');
                return false;
                $('#AddUserPopUp').modal('show');
            }
            else {
                $('#ChangePasswordAlertLabel').attr('class', 'invalid-feedback');
                $('#NewPassword').attr('class', 'form-control');
                return true;
            }
        }
        $(function () {
            $("#BtnChangePasswordUser").on("click", function (e) {
                var form = $("#ChangePassword")[0];
                var isValid = form.checkValidity();
                var passwordCheck = CheckChangeValidation();
                var ChangeConfirmPassword = CheckChangeConfirmPassword();
                  CheckOldPassword();
                if (!isValid) {
                    e.preventDefault();
                    e.stopPropagation();
                }
                else if (!passwordCheck) {
                    e.preventDefault();
                    e.stopPropagation();
                }
                else if (!ChangeConfirmPassword) {
                    e.preventDefault();
                    e.stopPropagation();
                }
                else {
                    CheckOldPassword();
                }
                form.classList.add('was-validated');
                return false; // For testing only to stay on this page
            });
        });
    function CheckChangeConfirmPassword() {
            var Password = document.getElementById('NewPassword').value;
            var ChangeConfirmPassword = document.getElementById('ChangeConfirmPassword').value;
            if (!(Password === ChangeConfirmPassword)) {
                $('#ConfirmPasswordLabel').attr('class', 'invalid-feedback2');
                $('#ChangeConfirmPassword').attr('class', 'textboxstyle');
                return false;
                $('#AddUserPopUp').modal('show');
            }
            else {
                $('#ConfirmPasswordLabel').attr('class', 'invalid-feedback');
                $('#ChangeConfirmPassword').attr('class', 'form-control');
                return true;
            }
        }
        $('#ChangeConfirmPassword').keyup(function () {
            var Check = CheckChangeConfirmPassword();
            if (check) {
                $('#ConfirmPasswordLabel').attr('class', 'invalid-feedback');
                $('#ChangeConfirmPassword').attr('class', 'form-control');
            }
        });

    function CheckOldPassword() {
        var UserId = document.getElementById('hdnUserId').value;
        var OldPassword = document.getElementById('OldPassword').value;
        var NewPassword = document.getElementById('NewPassword').value;

        $.ajax({
            type: "POST",
            url: "/UserLogin/ChangeUserPassword/",
            data: { UserId: UserId, OldPassword: OldPassword, NewPassword: NewPassword},
            success: function (response) {
                if (response.success) {
                    $('#OldPasswordLabel').attr('class', 'invalid-feedback');
                    $('#OldPassword').attr('class', 'form-control');
                    swal("Success! Your password has been updated.", {
                        icon: "success",
                    }).then((value) => {
                        window.location.href = '/UserLogin/';
                    });
                } else {
                    swal("Sorry! You provided an invalid password.", {
                        icon: "warning",
                        dangerMode: true,
                    });
                    $('#OldPasswordLabel').attr('class', 'invalid-feedback2');
                    $('#OldPassword').attr('class', 'textboxstyle');
                    return false;
                }
            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            }
        });
    }
</script>