

@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

}
<style>
    .btn-outline-blue {
        color: #1f4a79;
        border-color: #1f4a79;
    }

        .btn-outline-blue:hover {
            color: #fff;
            background-color: #1f4a79;
            border-color: #343a40;
        }
</style>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <div class="form-group col-sm-12 center ">
        <div class="alert alert-danger text-center">
          @ViewBag.ErrorMsg
        </div>
    </div>
}
@if (ViewBag.Error == 2)
{
    <div class="form-group col-sm-12 center ">
        <div class="alert alert-danger text-center">
            Sorry your Provided Email Address is Not Registered with us Kindly Provide a Valid Email Address
        </div>
    </div>
}


<form asp-controller="UserLogin" asp-action="ForgetPassword" method="post">



    <div class="row m-0 mt-5 mb-5">
        <div class="col-3 d-lg-block d-none"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <div class="row text-center">
                <div class=" font-36 text-center pt-4 pb-4 bg-white container avantgardece" style="color: #1f4a79">
                    Forget Password
                </div>
             
                <div class="form-group col-sm-3 center"></div>
                <div class="form-group col-sm-6 center">
                    @*<label asp-for="ContactEmail">Email</label>*@
                    <span class="text-danger"></span>
                    <input class="form-control selectWrapper text-center" name="Email" type="email" required placeholder="Email">
                </div>
                <div class="form-group col-sm-3 center"></div>
                <div class="form-group col-sm-3 center"></div>

                <div class="form-group col-sm-12 float-right rounded-sm ">

                    <button type="submit" class="btn bg-blue my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-14">Submit</button>


                </div>
                <div class="form-group col-sm-12 float-right rounded-sm ">
                    <a href="/" class="text-blue" style="color: #1f4a79">Go back Website </a>
                </div>
            </div>
        </div>
        <div class="col-1 d-lg-block d-none"></div>
    </div>

</form>