@{
    ViewData["Title"] = "PasswordResetMessage";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="alert alert-success">
    Your Password has been Reset Successfully....<a asp-controller="UserLogin" asp-action="UserLogin" class="text-info">Click Here</a> to login again

</div>