@model MCNMedia_Dev.Models.User
@{ Layout = ""; }
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MCN</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/theme/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/theme/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/theme/images/favicon.png" />
    <link href="~/theme/AdminTheme.css" rel="stylesheet" />







    <style>

        .blur {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }
    </style>
</head>

<body>

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow login-full-bg">
                    <div class="col-lg-6 login-half-bg d-flex flex-row">
                        <p class="text-white font-weight-medium text-center flex-grow align-self-end"></p>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12 d-flex align-items-center justify-content-center login-half-right-bg">

                        <div class="row w-100 mx-0">
                            <div class="col-lg-6 mx-auto">
                                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                    <div class="brand-logo">
                                        <img src="~/theme/images/MCNLogo.png" alt="Logo" />

                                    </div>
                                    <h4>Welcome to MCN Media Churches</h4>
                                    <h6 class="font-weight-light">Sign in to continue.</h6>

                                    <form class="pt-3" method="post" asp-controller="UserLogin" asp-action="UserLogin">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-lg" asp-for="EmailAddress" id="exampleInputEmail1" placeholder="Username" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" asp-for="LoginPassword" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
                                            <div class="invalid-feedback">Please Provide User Email Address</div>
                                        </div>
                                        @{ if (ViewBag.IsSuccess == 3)
                                            {
                                <div class="form-group alert-danger">
                                    <label type="password" class="form-control form-control-lg"> Email or Password Incorrect</label>
                                </div> } }
                                        @{ if (ViewBag.IsSuccess == 4)
                                            {
                                <div class="form-group alert-danger">
                                    No Church has been Assign to you, kindly Contact With Admin to Assign Church to you, Thanks
                                </div> } }
                                        <div class="mt-3">
                                            <button type="submit" id="BtnLogin" class="btn btn-block  btn-lg font-weight-medium auth-form-btn text-white" style="background-color:#d9356f">SIGN IN</button>
                                        </div>

                                        <div class="text-center mt-4 font-weight-light">
                                            <a asp-action="ForgetPassword" asp-controller="UserLogin" class="auth-link text-black">Forget Password</a>
                                            <div class="form-check">

                                            </div>
                                            <a href="/" class="auth-link text-black">Go Back To Site</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/theme/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/theme/vendors/jquery-validation/jquery.validate.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/theme/js/form-validation.js"></script>
    <script src="~/theme/js/off-canvas.js"></script>
    <script src="~/theme/js/hoverable-collapse.js"></script>
    <script src="~/theme/js/template.js"></script>
    <script src="~/theme/js/settings.js"></script>
    <script src="~/theme/js/todolist.js"></script>







   
    <!-- endinject -->
</body>

</html>
