
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    @*<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <title>@ViewData["Title"] - MCN</title>
    <!-- plugins:css -->
    <!--<link rel="stylesheet" href="~/theme/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/theme/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
    <link href="~/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/theme/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/theme/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css">
    <link href="~/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />-->
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!--<link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/theme/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/theme/vendors/css/horizontal-layout-light/style.css">

    <link rel="shortcut icon" href="~/theme/vendors/images/favicon.png" />-->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!--<link rel="stylesheet" href="~/theme/css/horizontal-layout-light/style.css">-->
    <!-- endinject -->
    <link rel="shortcut icon" href="~/theme/images/favicon.png" />
    <link href="~/theme/Loader.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*
        <style type="text/css">

            .bgImage {
                background-image: url("/Images/pexels-david-dibert-1207965.jpg ")
            }

            .beautifooter {
                background-image: url( "/Images/WebsitefooterImg.jpg");
                height: 600px;
                width: 100vw;
                overflow: hidden;
                position: relative;
            }

            .imgstyle {
                width: 100%;
                height: 100%;
                opacity: 0.9;
                background: #060f2d;
                position: absolute;
            }

            .underline {
                text-decoration: underline;
                text-decoration-color: darkgoldenrod;
            }

            .iconcolor {
                color: darkgoldenrod;
                font-size: 1.5em;
            }

            .color {
                color: goldenrod;
            }

            .ullist {
                list-style: none;
            }



            .list1::before {
                background-position: 0 5px;
                line-height: 1.5625;
                padding: 0 0 4px 30px;
                margin-left: 1em;
                color: goldenrod;
            }
        </style>*@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCN Media</title>

    <!-- font-awsome 5 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- font-awsome 5 -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://themes.audemedia.com/html/goodgrowth/css/owl.theme.default.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/WebsiteAssets/css/style.css">
</head>
<body>

    <!-- header start -->
    <header class="header container p-sm-0">
        <nav class="navbar navbar-expand-lg navbar-light container-nav  avantgardece text-uppercase pl-0 pr-0">
            <a class="navbar-brand " href="/Website/Home"><img src="~/WebsiteAssets/img/logo.png" alt="" style="width: 115px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link font-14 text-lightdark pr-3" style="border-right: 1px solid #c2c2c247;" href="/Website/Home">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-14 text-lightdark pr-3" style="border-right: 1px solid #c2c2c247;" href="/Website/Churches">Churches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-14 text-lightdark pr-3" style="border-right: 1px solid #c2c2c247;" href="/Website/Cathedrals">Cathedrals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-14 text-lightdark pr-3" style="border-right: 1px solid #c2c2c247;" href="/Website/FuneralHomes">Funeral Homes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-14 text-lightdark pr-3" style="border-right: 1px solid #c2c2c247;" href="/Website/Schedules">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-14 text-lightdark pr-3" href="/Website/ContactUs">Contact us</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="search">
                        <input class="form-control mr-sm-2 rounded-pill bg-light-gray pr-xl-5 pr-4 font-14"
                               type="search" placeholder="SEARCH CAMERA" aria-label="Search" id="txtSearch">
                        <i class="fas fa-search seach-icon" onclick="SearchCamera()"></i>
                    </div>
                    <a href="../UserLogin" class="btn btn-pink my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-14">Login</a>
                </form>
            </div>
        </nav>
    </header>
    <!-- header end -->
    @Html.Partial("~/Views/Shared/_BusyIndicatoPartial.cshtml")

    @RenderBody()
    <!-- footer start -->
    <footer class="footer pt-5 mt-5" style="background-color: #333333;">
        <div class="container pb-5">
            <div class="row m-0">
                <div class="col-md-5 pb-3 col-sm-6 pb-3">
                    <img src="~/WebsiteAssets/img/footer-img.png" alt=""> <br>
                    <button class="btn btn-outline-pink mt-4 pt-2 pb-2 pl-4 pr-4 font-14 MyriadPro text-white">BECOME a service provider</button>
                </div>
                @*<div class="col-md-2 col-sm-6 col-6 pb-3 MyriadPro text-center">
            <p class="mb-2 font-14 text-white">Customer</p>
            <a href=""><p class="mb-2 font-12 text-lightdark">COMPANY</p></a>
            <a href=""><p class="mb-2 font-12 text-lightdark">JOBS</p></a>
            <a href=""><p class="mb-2 font-12 text-lightdark">CAREER</p></a>
            <a href=""><p class="mb-2 font-12 text-lightdark">ABOUT US</p></a>
            <a href=""><p class="mb-2 font-12 text-lightdark">CONTACT US</p></a>
        </div>*@
                <div class="col-md-2 col-sm-6 col-6 pb-3 MyriadPro text-left">
                    @*<p class="mb-2 font-14 text-white">MCN On View</p>
            <a href=""><p class="mb-2 font-12 text-lightdark">LIVE LEADS</p></a>
            <a href=""><p class="mb-2 font-12 text-lightdark">PRESS</p></a>
            <a href=""><p class="mb-2 font-12 text-lightdark">SUBSCRIBE US</p></a>
            <a href=""><p class="mb-2 font-12 text-lightdark">TALK TO US</p></a>
            <a href=""><p class="mb-2 font-12 text-lightdark">COMPANY</p></a>*@
                </div>
                <div class="col-md-2 col-sm-6 col-6 pb-3 MyriadPro text-center">
                    <p class="mb-2 font-14 text-white">Quick Links</p>
                    <a href="/Website/Churches"><p class="mb-2 font-12 text-lightdark">CHURCHES</p></a>
                    <a href="/Website/Cathedrals"><p class="mb-2 font-12 text-lightdark">CATHEDRALS</p></a>
                    <a href="/Website/FuneralHomes"><p class="mb-2 font-12 text-lightdark">FUNERAL HOMES</p></a>
                    <a href="/Website/Schedules"><p class="mb-2 font-12 text-lightdark">SCHEDULES</p></a>
                    <a href="/Website/ContactUs"><p class="mb-2 font-12 text-lightdark">CONTACT US</p></a>
                </div>
                <div class="col-md-3 col-sm-6 pb-3 MyriadPro">
                    <p class="mb-5 font-14 text-white">Follow Us</p>
                    <a href="https://www.facebook.com/pages/Church-Services-TV/157606014288500"><i class="fab font-36 text-white pr-2 fa-facebook-square"></i></a>
                    <a href="https://twitter.com/ChurchServiceTV"><i class="fab font-36 text-white pr-2 fa-twitter-square"></i></a>
                    @*<a href=""><i class="fab font-36 text-white  fa-google-plus-square"></i></a>*@
                </div>
            </div>
        </div>
        <div class="bottom-footer border-top border-light pt-3 pb-3">
            <div class="container MyriadPro">
                <div class="font-12 text-white">Copyright 2020 MCN Media. All rights reserved.</div>
                <a asp-action="Terms" asp-controller="Website" class="text-white font-12">Terms & Conditions</a>
                <a asp-action="Privacy" asp-controller="Website" class="text-white pl-2 font-12">Privacy Policy</a>
                @*<a href="" class="text-white pl-2 font-12">Site map</a>*@
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- about customer end -->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- jQuery -->
    <!-- Bootstrap JS bundle w/ Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- Bootstrap JS bundle w/ Popper.js -->
    <script src="~/WebsiteAssets/js/main.js"></script>

    <div class="container-scroller">



        <!-- partial -->
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    <!-- container-scroller -->

    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
        function displayBusyIndicator2() {
            $('.loading').hide();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(window).unload(function () {
            displayBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });

        function SearchCamera() {
            var filter = "";
            var filterValue = document.getElementById("txtSearch").value;
            if (filterValue.length > 0) {
                filter = "?Search=" + filterValue;
            }
             window.location.href = "/Website/Cameras" + filter;
        }
    </script>
</body>

</html>
