@model MCNMedia_Dev.Models.Schedule

@{
    ViewData["Title"] = "Schedule";
}


@{
    List<SelectListItem> SelectList = Lists.GetChurchListForDDL();
}

<form asp-action="AddSchedule">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-body">
            <h4 class="modal-title">Add New Schedule</h4>

            <div class="form-group row">
                <label asp-for="ChurchId" class="col-sm-2 col-form-label">Church</label>
                <div class="col-sm-4">
                    <span asp-validation-for="ChurchId" class="text-danger"></span>
                    @*<input asp-for="Churches.ClientTypeId" class="form-control" />*@
                    @Html.DropDownList("ChurchId", SelectList, new { @class = "form-control" })
                    <span asp-validation-for="ChurchId" class="text-danger"></span>
                </div>
           
                <label asp-for="EventName" class="col-sm-2 col-form-label">Event Name</label>
                <div class="col-sm-4">
                    <span asp-validation-for="EventName" class="text-danger"></span>
                    <input type="text" asp-for="EventName" class="form-control" placeholder="Event Name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Event By : </label>
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="eventBy" checked="" onclick="ShowDateDiv()">
                            Date
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="eventBy" onclick="ShowDayDiv()">
                            Day
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check" id="CheckBox">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsRepeated" /> @Html.DisplayNameFor(model => model.IsRepeated)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
              
                    <label asp-for="EventDate" id="EventLabel" class="col-sm-2 col-form-label">Event Date</label>
                    <div class="col-sm-4" id="EventInput">
                        <span asp-validation-for="EventDate" class="text-danger"></span>
                        <div id="datepicker-popup" class="input-group date datepicker">
                            <input type="text" asp-for="EventDate" class="form-control" placeholder="Event Date" />
                            <span class="input-group-addon input-group-append border-left">
                                <span class="ti-calendar input-group-text"></span>
                            </span>
                        </div>
                    </div>
                

            
                <label asp-for="EventDay" id="EventDayLabel" class="col-sm-2 col-form-label">Event Day</label>
                <div class="col-sm-4" id="EventDayInput">
                    <span asp-validation-for="EventDay" class="text-danger"></span>
                    <select asp-for="EventDay" class="form-control" asp-items="Html.GetEnumSelectList<EventDay>()">
                        <option selected="selected" value="">Please select Day</option>
                    </select>
                </div>
            
                <label asp-for="EventTime" class="col-sm-2 col-form-label">Event Time</label>
                <div class="col-sm-4">
                    <span asp-validation-for="EventTime" class="text-danger"></span>
                    <div class="input-group date" id="timepicker-example" data-target-input="nearest">
                        <div class="input-group" data-target="#timepicker-example" data-toggle="datetimepicker">
                            <input type="text" asp-for="EventTime" class="form-control datetimepicker-input" data-target="#timepicker-example" placeholder="Event Time" />
                            <div class="input-group-addon input-group-append"><i class="ti-time input-group-text"></i></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="float-right">
                <button type="submit" value="Create" class="btn btn-primary "><i class="fa fa-plus"></i> Add Event</button>
                <a id="back" class="btn btn-secondary btn-md " href="../Schedule/ListSchedule"><i class="fa fa-chevron-left"></i> Back</a>
            </div>
        </div>
    </div>


</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#CheckBox').hide();
        $('#EventDayLabel').hide();
        $('#EventDayInput').hide();
        $('#EventLabel').show();
        $('#EventInput').show();

    });
    function ShowDateDiv() {
       
        $('#CheckBox').hide();
        $('#EventDayLabel').hide();
        $('#EventDayInput').hide();
        $('#EventLabel').show();
        $('#EventInput').show();

        //document.getElementById('divDay').style.display = 'none';
        //document.getElementById('divDate').style.display = 'block';

    }
    function ShowDayDiv() {
        $('#CheckBox').show();
        $('#EventDayLabel').show();
        $('#EventDayInput').show();
        $('#EventLabel').hide();
        $('#EventInput').hide();


    }

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
