@model MCNMedia_Dev.Models.Schedule

@{
    ViewData["Title"] = "EditSchedule";
}
@{
    List<SelectListItem> SelectList = Lists.GetChurchListForDDL();
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-body">
            <h4 class="modal-title">Edit Schedule</h4>
            <input type="hidden" asp-for="ScheduleId" />

            <div class="form-group row">
                <label asp-for="ChurchId" class="col-sm-2 col-form-label">Church</label>
                <div class="col-sm-4">
                    <span asp-validation-for="ChurchId" class="text-danger"></span>
                    @*<input asp-for="Churches.ClientTypeId" class="form-control" />*@
                    @Html.DropDownList("ChurchId", SelectList, new { @class = "form-control" })
                    <span asp-validation-for="ChurchId" class="text-danger"></span>
                </div>

                <label asp-for="EventName" class="col-sm-2 col-form-label">Event Name</label>
                <div class="col-sm-4">
                    <span asp-validation-for="EventName" class="text-danger"></span>
                    <input type="text" asp-for="EventName" class="form-control" placeholder="Event Name" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Event By : </label>
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" asp-for="ScheduleBy" value="1" checked="" onclick="ShowDateDiv()">
                            Date
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" asp-for="ScheduleBy" value="2" onclick="ShowDayDiv()">
                            Day
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check" id="CheckBox">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsRepeated" /> @Html.DisplayNameFor(model => model.IsRepeated)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EventDay" id="EventDayLabel" class="col-sm-2 col-form-label">Event Day</label>
                <div class="col-sm-4" id="EventDayInput">
                    <span asp-validation-for="EventDay" class="text-danger"></span>
                    <select asp-for="EventDay" class="form-control" id="EventDay">
                        <option selected="selected" value="">Please select Day</option>
                        <option value="Monday" name="EventDay">Monday</option>
                        <option value="Tuesday" name="EventDay">Tuesday</option>
                        <option value="Wednesday" name="EventDay">Wednesday</option>
                        <option value="Thursday" name="EventDay">Thursday</option>
                        <option value="Friday" name="EventDay">Friday</option>
                        <option value="Saturday" name="EventDay">Saturday</option>
                        <option value="Sunday" name="EventDay">Sunday</option>

                    </select>
                </div>


                <label asp-for="EventDate" id="EventLabel" class="col-sm-2 col-form-label">Event Date</label>
                <div class="col-sm-4" id="EventInput">
                    <span asp-validation-for="EventDate" class="text-danger"></span>
                    <div id="datepicker-popup" class="input-group date datepicker">
                        <input type="text" asp-for="EventDate" class="form-control" placeholder="Event Date" />
                        <span class="input-group-addon input-group-append border-left">
                            <span class="ti-calendar input-group-text"></span>
                        </span>
                    </div>
                </div>




                <label asp-for="EventTime" class="col-sm-2 col-form-label">Event Time</label>
                <div class="col-sm-4">
                    <span asp-validation-for="EventTime" class="text-danger"></span>
                    <div class="input-group date" id="timepicker-example" data-target-input="nearest">
                        <div class="input-group" data-target="#timepicker-example" data-toggle="datetimepicker">
                            <input type="text" asp-for="EventTime" class="form-control datetimepicker-input" data-target="#timepicker-example" placeholder="Event Time" />
                            <div class="input-group-addon input-group-append"><i class="ti-time input-group-text"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Length" class="col-sm-2 col-form-label">Duration</label>
                <div class="col-sm-4">
                    <span asp-validation-for="Length" class="text-danger"></span>
                    <input type="text" asp-for="Length" class="form-control" placeholder="Length" />
                </div>
                <label asp-for="LengthUnit" class="col-sm-2 col-form-label">Duration Unit</label>

                <div class="col-sm-4 ">
                    <span asp-validation-for="LengthUnit" class="text-danger"></span>
                    <select asp-for="LengthUnit" class="form-control" id="LenghtUnit">
                        <option value="Minutes" name="LenghtUnit">Minutes</option>
                        <option value="Hours" name="LenghtUnit">Hours</option>
                    </select>
                </div>
                @if (Model.Password != "")
                {
                    <label asp-for="Password" id="lblPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-4 " id="SchPassword">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input type="text" asp-for="Password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="col-sm-6" id="btnSchdule">
                        <div class="float-right">
                            <button type="submit" value="Update" asp-action="Edit" class="btn btn-primary "><i class="fa fa-plus"></i> Update</button>
                            <a id="back" class="btn btn-secondary btn-md " href="/User/ListUser"><i class="fa fa-chevron-left"></i> Back</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12" id="btnSchdule">
                        <div class="float-right">
                            <button type="submit" value="Update" asp-action="Edit" class="btn btn-primary "><i class="fa fa-plus"></i> Update</button>
                            <a id="back" class="btn btn-secondary btn-md " href="/User/ListUser"><i class="fa fa-chevron-left"></i> Back</a>
                        </div>
                    </div>
                }
            </div>
          
            @*<div class="modal fade" id="exampleModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <i class="fa fa-info-circle text-info" style="font-size:6em"></i>


                                <h3 class="display-4 text-info">Do you want to add password?</h3>
                            </center>
                            <div class="float-right">
                                <button type="button" id="btnYes" value="Yes" class="btn btn-success">Yes</button>
                                <button type="button" id="btnNo" value="No" class="btn btn-danger">No</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@
        </div>
    </div>


</form>

<script type="text/javascript">
    $(document).ready(function () {
        //$('#CheckBox').hide();
        //$('#EventDayLabel').hide();
        //$('#EventDayInput').hide();
        //$('#EventLabel').show();
        //$('#EventInput').show();
        var modelJSValue = '@Model.ScheduleBy';

        if (modelJSValue== 1) {
            ShowDateDiv();

        }

        else if (modelJSValue == 2) {

            ShowDayDiv();
        }





    });
    function ShowDateDiv() {

        $('#CheckBox').hide();
        $('#EventDayLabel').hide();
        $('#EventDayInput').hide();
        $('#EventLabel').show();
        $('#EventInput').show();

        //document.getElementById('divDay').style.display = 'none';
        //document.getElementById('divDate').style.display = 'block';

    }
    function ShowDayDiv() {
        $('#CheckBox').show();
        $('#EventDayLabel').show();
        $('#EventDayInput').show();
        $('#EventLabel').hide();
        $('#EventInput').hide();


    }

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
