@model MCNMedia_Dev.Models.Camera
@{

}




<form  method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="row">
        <div class="col">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row p-3" id="alertDiv221">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" id="alertLabel22">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CameraName" class="control-label">Mobile Tab Name</label>
                <input asp-for="CameraName" name="CameraName" maxlength="100" class="form-control" id="CameraName" placeholder=" Enter Mobile Camera" required />
                <span asp-validation-for="CameraName" class="text-danger"></span>
            </div>

          

            <div class="form-group float-right">


                <a onclick="AddMobileCameras()" class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="mdi mdi-content-save text-white"></i>Add</a>
                <a id="back" class="btn btn-warning btn-sm text-white " data-dismiss="modal" aria-label="Close" title="Cancel"><i class="fa fa-window-close-o text-white"></i> Cancel</a>


            </div>

        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {


        $('#alertDiv221').hide();
    });

    function AddMobileCameras() {


        var cameraName = document.getElementById('CameraName').value;

        var formData = new FormData();
        formData.append("cameraName", cameraName);

        $.ajax({
            type: "POST",
            url: "/Client/AddMobileCamera/",

            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType

            //data: { AddVidTabName: AddvidTabName, VidFile11: VidFile1 },


            success: function (result) {

                $('#AddMobileCameraPopUp').modal('hide');
                loadAnnouncement();


            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>