@model MCNMedia_Dev.Models.GenericModel
@{
    ViewData["Title"] = "CameraDetail";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";

}
<style>
    .nav-link {
        display: block;
        padding: 0.5rem 1rem !important;
    }
</style>


<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/theme/vendors/dropzone/dropzone.css">
<link rel="stylesheet" href="~/theme/vendors/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/bars-1to10.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/bars-horizontal.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/bars-movie.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/bars-pill.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/bars-reversed.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/bars-square.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/bootstrap-stars.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/css-stars.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/examples.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/fontawesome-stars-o.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-bar-rating/fontawesome-stars.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-asColorPicker/css/asColorPicker.min.css">
<link rel="stylesheet" href="~/theme/vendors/x-editable/bootstrap-editable.css">
<link rel="stylesheet" href="~/theme/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="~/theme/vendors/dropify/dropify.min.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-file-upload/uploadfile.css">
<link rel="stylesheet" href="~/theme/vendors/jquery-tags-input/jquery.tagsinput.min.css">
<link rel="stylesheet" href="~/theme/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css">
<link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.theme.default.min.css">
<!-- End plugin css for this page -->


<div class="row">
    <div class="col-sm-12 grid-margin stretch-card d-none d-md-flex w-100">

        <div class="row col-12">
            <div class="  col-sm-10">
                <div class="card">
                    <div class="card-body">

                        


                        <div class="tab-content tab-content-vertical" id="v-pills-tabContent">
                            @*<div class="tab-pane fade show active" id="Camera-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <div class="media">

                                    <div class="media-body">
                                        @Html.Partial("~/Views/Client/ListMobileCamera.cshtml")
                                    </div>
                                </div>
                            </div>*@
                            <div class="tab-pane fade show active" id="Picture-1" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="media">

                                    <div class="media-body">
                                        @Html.Partial("~/Views/MediaChurch/_Pictures.cshtml")

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Video-1" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <div class="media">

                                    <div class="media-body">

                                        @Html.Partial("~/Views/MediaChurch/_ListVideo.cshtml")
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Slideshow-1" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <div class="media">

                                    <div class="media-body">

                                        @Html.Partial("~/Views/MediaChurch/_Slideshow.cshtml")
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
            <div class=" col-sm-2  ">
                <div class="card">
                    <div class="card-body">

                        <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            @*<li class="nav-item">
                                <a class="nav-link active" id="Camera-tab" data-toggle="tab" href="#Camera-1" role="tab" aria-controls="Camera-1" aria-selected="true">
                                    <i class="fa fa-camera-retro text-dark">
                                    </i>  Camera
                                </a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link active" id="Picture-tab" data-toggle="tab" href="#Picture-1" role="tab" aria-controls="Picture-1" aria-selected="false">
                                    <i class="fa fa-picture-o text-success">
                                    </i>  Picture
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Video-tab" data-toggle="tab" href="#Video-1" role="tab" aria-controls="Video-1" aria-selected="false">
                                    <i class="fa fa-file-video-o text-danger"></i>
                                    Video
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" id="Slideshow-tab" data-toggle="tab" href="#Slideshow-1" role="tab" aria-controls="Slideshow-1" aria-selected="false">
                                    <i class="mdi mdi-folder-multiple-image text-primary"></i> Slide Show
                                </a>

                            </li>

                        </ul>
                    </div>


                </div>
            </div>
        </div>



    </div>
</div>
<!-- plugin js for this page -->
<script src="~/theme/vendors/dropify/dropify.min.js"></script>
<script src="~/theme/vendors/jquery-file-upload/jquery.uploadfile.min.js"></script>
<script src="~/theme/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script src="~/theme/vendors/dropzone/dropzone.js"></script>


<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/theme/js/off-canvas.js"></script>
<script src="~/theme/js/hoverable-collapse.js"></script>
<script src="~/theme/js/template.js"></script>
<script src="~/theme/js/settings.js"></script>
<script src="~/theme/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="~/theme/js/x-editable.js"></script>
<script src="~/theme/js/dropify.js"></script>
<script src="~/theme/js/dropzone.js"></script>
<script src="~/theme/js/jquery-file-upload.js"></script>

<!-- End custom js for this page-->
