@model MCNMedia_Dev.Models.GenericModel
@{
    ViewData["Title"] = "ChurchNewsLetter";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12 grid-margin stretch-card d-none d-md-flex w-100">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/ChurchNewsLetter/_ChurchNewLetter.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
