@model MCNMedia_Dev.Models.GenericModel
@{
    ViewData["Title"] = "EditRecordingClient";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}


<form asp-action="EditRecordingClient" method="post" asp-controller="Client">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-body">
            <h4 class="modal-title">Edit Recording</h4>
            <input type="hidden" asp-for="Recordings.RecordingId" />

            <div class="form-group row">
                <label asp-for="Recordings.RecordingTitle" class="col-sm-3 col-form-label"> Recording Title</label>
                <div class="col-sm-9">
                    <span asp-validation-for="Recordings.RecordingTitle" class="text-danger"></span>
                    <input asp-for="Recordings.RecordingTitle" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Recordings.RecordingURl" class="col-sm-3 col-form-label">Recording URl </label>
                <div class="col-sm-9">
                    <span asp-validation-for="Recordings.RecordingURl" class="text-danger"></span>
                    <input asp-for="Recordings.RecordingURl" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Recordings.ChurchId" class="col-sm-3 col-form-label">Church</label>
                <div class="col-sm-9">
                    <span asp-validation-for="Recordings.ChurchId" class="text-danger"></span>
                    <select asp-for="Recordings.ChurchId" id="select1" class="form-control" asp-items="@(new SelectList(@ViewBag.State,"Value","Text"))">
                        <option>--Select Church--</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Recordings.Date" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-3">
                    <span asp-validation-for="Recordings.Date" class="text-danger"></span>
                    <div id="datepicker-popup" class="input-group date datepicker">
                        <input asp-for="Recordings.Date" type="text" class="form-control">
                        <span class="input-group-addon input-group-append border-left">
                            <span class="ti-calendar input-group-text"></span>
                        </span>
                    </div>
                </div>
                @*</div>
                    <div class="form-group row">*@
                <label asp-for="Recordings.Time" for="default-picker" class="col-sm-3 col-form-label text-center">Time</label>
                <div class="col-sm-3">
                    <span asp-validation-for="Recordings.Time" class="text-danger"></span>
                    <div class="input-group date" id="timepicker-example" data-target-input="nearest">
                        <div class="input-group" data-target="#timepicker-example" data-toggle="datetimepicker">
                            <input asp-for="Recordings.Time" type="text" class="form-control datetimepicker-input" data-target="#timepicker-example" />
                            <div class="input-group-addon input-group-append"><i class="ti-time input-group-text"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <button type="submit" value="Update"  class="btn btn-primary "><i class="fa fa-plus"></i> Update</button>
                <a id="back" class="btn btn-secondary btn-md " href="/Recording/ListRecording"><i class="fa fa-chevron-left"></i> Back</a>
            </div>


        </div>
    </div>
</form>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@


