@model MCNMedia_Dev.Models.GenericModel
@{
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}


<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="float-right">
                    <button type="submit" value="Add" id="BtnAddMobileCamera" class="btn btn-outline-behance btn-sm " title="Add New" onclick="AddMobileCamera()"><i class="fa fa-plus"></i> Add Mobile Camera</button>
                </div>
            </div>
        </div>
       

        <div class="form-group row col-lg-12 m-3" >

           
                        @foreach(var item in Model.LCameras) {
                            var data = item.CameraUrl;
                            var data2 = data.Split('_');
                            var Application = ":live/_" + data2[1]+ "_";
                            var StreamKey = ":"+ item.CameraUrl + ".stream";
                    
                             
                                       <div class="form-group row  w-100 " style="background-color:lavender">
                                           <div class="col-lg-12 border-bottom p-4 font-weight-bolder " style="border-color:lightgray">
                                               @item.CameraName <span class="float-right pr-5"><a onclick="DeleteCamera(@item.CameraId)" class="btn btn-icon btn-danger btn-rounded"><i class="mdi mdi-window-close mdi-36px text-white"></i></a></span>
                                           </div>
                                           <div class="col-lg-12 p-3">
                                               <b>Application</b>@Application <b>Stream Key</b>@StreamKey
                                           </div>
                                       </div>
                                 
                              
                            
                        }
                  

        </div>

    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddMobileCameraPopUp" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Mobile Camera</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddMobileCameraPreview">
                        @Html.Partial("~/Views/Client/_AddMobileCamera.cshtml", Model.Cameras)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AddMobileCamera() {

        $('#AddMobileCameraPopUp').modal('show');

    }

    function DeleteCamera(camId) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: "/Client/DeleteCamera/" + camId,
                        type: "POST",
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (result) {
                            window.location.reload();
                        },
                        error: function (errormessage) {
                            // alert(errormessage.responseText);
                        }
                    });
                } else {
                    swal("Your file is safe!");
                }
            });
    }
</script>
 