
@{
    ViewData["Title"] = "ScheduleAndRecording";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";

}
<div class="row">
    <div class="card col-9">
        <div class="card-body">
            <h1>ScheduleAndRecording</h1>
            <h4>Your Schedule Items</h4>
        </div>
    </div>


    <div class="card col-3">
        <div class="card-body">
            <h5><i class="ti-settings icon-menu"> </i> Schedule option</h5>
            <div style="font-size:10px">
                <p><input id="Radio1" type="radio" name="Recording" /> Hide All Recording</p>
                <br />
                <br />
                <p><input id="Radio2" type="radio" name="Recording" /> Allow user to download recording</p>
                <br />
                <br />
                <p><input id="Radio3" type="radio" name="Recording" /> Hide Schedule</p>
            </div>
        </div>
    </div>
</div>
