
@{
    ViewData["Title"] = "StreamToFaceBook";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";


}

<div class="card">
    <div class="card-body">
        <div class="card bg-dark d-flex">
            <div class="card-body">
                <div class="d-flex flex-row align-items-center">
                    <i class="ti-facebook text-white icon-md"></i>
                    <div class="ml-3">
                        <h3 class="text-white">
                            Stream to FaceBook
                            <button type="button" class="btn btn-success">online</button>
                            <button type="button" class="btn btn-facebook"><i class="ti-facebook text-white icon-md"></i>Revoke Face Book Access</button>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <p>your live stream will be broad cast on 'Church Name'</p>
        <button type="button" class="btn btn-social-icon-text btn-facebook"><i class="ti-facebook"></i>Stop Streaming</button>
        <button type="button" class="btn btn-dark">Change</button>


    </div>
</div>