@model MCNMedia_Dev.Models.GenericModel
@{

}

@using (Html.BeginForm("AddSlideShow", "MediaChurch", FormMethod.Post, new { enctype = "multipart/form-data", @id = "AddSlideShowForm" }))

{
    <div class="row m-0 mb-3">
        <div class="col-lg-12">
            <div class="alert alert-danger" id="addSlideshowErrorMessage" hidden>

            </div>

        </div>

    </div>

    <div class="form-group row p-3" id="alertDiv33">
        <div class="col-md-12">
            <div class="alertNew alert-dangerNew"  id="alertLabel33">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">


            <div class="form-group">
                <label asp-for="Media.TabName" class="control-label">Tab Name</label>
                @Html.TextBoxFor(model => model.Media.TabName, new { @class = "form-control form-control-sm", @id = "slideshowTabName", @required = "required", @size = "40", @placeholder = "", @vfield = "Y", @nreq = "Y", @maxlength = "60", @nmaxlen = "60", @ntype = "nonNumeric", @nfrom = "register" })
                @Html.HiddenFor(model => model.Media.ChurchMediaId, new { @id = "ChurchMediaId" })
                @Html.HiddenFor(model => model.Media.ChurchId, new { @id = "ChurchId" })
            </div>

            <div class="form-group row">
                <div class="col-12">
                    @Html.TextBoxFor(model => model.Media.MediaURL, new { @class = "form-control form-control-sm dropify", @id = "slideShow_Url", @name = "MediaURl3", @type = "file", @required = "required", @size = "40", @placeholder = "", @vfield = "Y", @nreq = "Y", @maxlength = "60", @nmaxlen = "60", @ntype = "nonNumeric", @nfrom = "register" })
                </div>
            </div>


            <div class="float-right">
                <a onclick="AddSlideShowOpen()" class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="mdi mdi-content-save text-white"> </i>Add </a>
                <a id="back" class="btn btn-warning btn-sm text-white " data-dismiss="modal" aria-label="Close" title="Cancel"><i class="fa fa-window-close-o text-white"></i> Cancel</a>
            </div>

        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {


        $('#alertDiv33').hide();
    });
    function AddSlideShowOpen() {
        var ss = '';
        var slideshowTabName = document.getElementById('slideshowTabName').value;
        var formData = new FormData();
        formData.append("mediaType", "SlideShow");
        formData.append("AddSlideshowTabName", slideshowTabName);
        var input = document.getElementById('slideShow_Url');
        var fileExtension = ['pptx', 'ppt'];
        if ($.inArray($('#slideShow_Url').val().split('.').pop().toLowerCase(), fileExtension) == -1) {


            input = "";


        }
        if (input == '' && slideshowTabName == '') {
            $('#slideShow_Url').attr('class', 'form-control border-danger');
            ss += '<label >' + "Only formats are allowed : " + fileExtension.join(', ') + '</label>';
            $('#slideshowTabName').attr('class', 'form-control border-danger');
            ss += '<label >Please provide a valid Tab Name </label>';

            $('#alertLabel33').html(ss);
            $('#alertDiv33').show();
            return;
            $('#AddddModal').modal('show');
        }
        else if (input == '' && slideshowTabName != '') {
            $('#slideShow_Url').attr('class', 'form-control border-danger');
            ss += '<label >' + "Only formats are allowed : " + fileExtension.join(', ') + '</label>';


            $('#alertLabel33').html(ss);
            $('#alertDiv33').show();
            return;
            $('#AddddModal').modal('show');
        }
        else if (input != '' && slideshowTabName == '') {
            $('#slideshowTabName').attr('class', 'form-control border-danger');
            ss += '<label >Please provide a valid Tab Name </label>';


            $('#alertLabel33').html(ss);
            $('#alertDiv33').show();
            return;
            $('#AddddModal').modal('show');
        }
        else {
            $('#slideshowTabName').attr('class', 'form-control');
            $('#slideShow_Url').attr('class', 'form-controls border-success');
            $('#alertDiv33').hide();
        }
        formData.append("mediaFile", input.files[0]);
        $('#AddSlideShowModal').modal('hide');
        displayBusyIndicator();
        $.ajax({
            type: "POST",
            url: "/MediaChurch/AddSlide/",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (result) {

                if (result.success) {
                    loadSlideShow();
                    displayBusyIndicator2();
                   $('#AddSlideShowForm')[0].reset();
                    $('#AddSlideShowModal').modal('hide');
                    $('#addMediaSuccessMessage').removeAttr('hidden');
                    $(window).scrollTop(0);
                    $('#addMediaSuccessMessage').html('Slide show added successfully');
                    $('#addMediaSuccessMessage').fadeIn();
                    $('#addMediaSuccessMessage').fadeTo(2000, 500).slideUp(500, function () {
                        $("#addMediaSuccessMessage").slideUp(500);
                    });
                    $('#addMediaSuccessMessage').attr('hidden');
                
                }
                else {
                
                    $('#AddSlideShowModal').modal('show');
                    $('#addSlideshowErrorMessage').removeAttr('hidden');
                    $(window).scrollTop(0);
                    $('#addSlideshowErrorMessage').html(result.responseText);
                    $('#addSlideshowErrorMessage').fadeIn();

                    $('#addSlideshowErrorMessage').fadeTo(2000, 500).slideUp(500, function () {
                        $("#addSlideshowErrorMessage").slideUp(500);


                    });
                    $('#addSlideshowErrorMessage').attr('hidden');
                }
                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                }
            });
    }
</script>
