@model MCNMedia_Dev.Models.GenericModel
@{

}
<script src="~/theme/js/modal-demo.js"></script>
<script type="text/javascript">

</script>

<div class="card">
    <div class="card-body">
        <div class="float-right">
            <button type="submit" value="Add" class="btn btn-outline-behance  btn-sm " title="Add New" onclick="AddVideo()"><i class="fa fa-plus"></i> Add New Video</button>
        </div>

        <div class="">

            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Tab Name
                        </th>
                        <th>
                            File Name
                        </th>
                        <th>
                            Created by
                        </th>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="vidList">
                </tbody>
            </table>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddddModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:40%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddPreview">
                        @Html.Partial("~/Views/MediaChurch/_AddVideo.cshtml", Model.Media)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="EditVidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="EditPreview">
                        @Html.Partial("~/Views/MediaChurch/_EditVideo.cshtml", Model.Media)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        loadVideo();
    });

    function loadVideo() {
        $.ajax({
            url: "/MediaChurch/ListVideo",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            data: { medType: "Video" },
            dataType: "json",
            success: function (result) {
                if (result === -1) {
                   
                    location.reload();
                }
                var html = '';

                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.tabName  + '</td>';
                    html += '<td>' + item.mediaName  + '</td>';
                    html += '<td>' + item.createdBy + '</td>';
                    html += '<td>' + item.createdAt  + '</td>';
                    html += ' <td>';
                    
                    html += '<a onclick="EditVideo(' + item.churchMediaId + ')" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit text-white"></i></a>&nbsp;';
                    html += '<a onclick="DeleteRecording(' + item.churchMediaId + ')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash text-white"></i></a>';
                    html += ' </td>';
                    html += '</tr>';
                });
                $('.vidList').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function AddVideo() {

        $('#AddddModal').modal('show');

            }
    function EditVideo(churchMediaId) {
         $.ajax({
            type: "Get",
            url: '@Url.Action("EditVideo", "MediaChurch")',
             data: { id: churchMediaId },
            success: function (data) {
                $('#EditPreview').html(data);
                $('#EditVidModal').modal('show');

            }
        })


            }

    function DeleteRecording(churchMediaId) {
    var ans = confirm("Are you sure you want to delete this Video?");
    if (ans) {
        $.ajax({
            url: "/MediaChurch/DeleteVideo/" + churchMediaId,
            type: "POST",

            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                if (result === -1) {

                    location.reload();
                }
                loadVideo();
                if (result) { alert("Record Deleted");}
            },
            error: function (errormessage) {
               // alert(errormessage.responseText);
            }
        });
    }
    }


</script>
