@model MCNMedia_Dev.Models.GenericModel


<div class="float-right mb-3">
    <button type="submit" value="Add" class="btn btn-outline-behance  btn-sm " title="Add New" onclick="AddVideo()"><i class="fa fa-plus"></i> Add New Video</button>
</div>
<div class="card-body">

    <div id="video-gallery" class="row lightGallery videosTab ">

    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddddModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:40%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddPreview">
                        @Html.Partial("~/Views/MediaChurch/_AddVideo.cshtml", Model.Media)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="EditVidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="EditPreview">
                        @Html.Partial("~/Views/MediaChurch/_EditVideo.cshtml", Model.Media)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    jwplayer.key = "SNzmJfLzOyLvUOZxE3J2qsi0RmsfnZKN8DnKtQ==";
    $(document).on("click", ".ti-control-play", function () {
        var url = $(this).data('id');

        jwplayer('videoUrl').setup({
            file: url,
            image: "../Images/jwerror.jpg",
            width: "100%",
            aspectratio: "16:9",
            //autostart: 'true',
            "autostart": "viewable",
            "advertising": {
                "client": "vast",
                "tag": ""
            }
        });
        jwplayer().onError(function () {
            jwplayer().play();
        });
    });

    $(document).ready(function () {
        loadVideo();
    });
    function AddVideo() {
        $("#progress").hide();
        $("#progress").css({ width: 0 + "%" });
        $("#label").html(0 + "%");
        $('#AddddModal').modal('show');

    }

    function loadVideo() {

        $.ajax({
            url: "/MediaChurch/ListVideo",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            data: { medType: "Video" },
            dataType: "json",
            success: function (result) {
                var html = '';

                $.each(result, function (key, item) {

                    //html += '<div class="col-sm-3 border border-danger p-2 ml-5 mb-3"><div class="for-generic  text-white font-16 font-weight-bolder  w-100" id="context-menu-hover-autohideVideos" mediachurchid=" ' + item.churchMediaId + '">' + item.tabName + '</div><video controls="controls" class="w-100"><source src=" ' + item.mediaURL + '" type="video/mp4" /></video></div>';
                   // html += '<div class="col-sm-3  p-2 ml-5 mb-3"><div class="w-100" id="context-menu-hover-autohideVideos" mediachurchid=" ' + item.churchMediaId + '"><a class="image-tile col-xl-3 col-lg-3 col-md-3 col-md-4 col-6" href = " ' + item.mediaURL + '"><img src ="../theme/images/lightbox/thumb-v-v-1.jpg" alt = "image" /><div class="demo-gallery-poster"> <img src="../theme/images/lightbox/play-button.png" alt="image"></div></a></div></div>';
                    html += '<div class="col-lg-4 col-md-6 col-sm-12 p-2  mb-3  "><div class="row m-0"><div class="col-12"><div class="for-generic  text-white font-16 font-weight-bolder w-100 mb-0" id="context-menu-hover-autohideVideos" mediachurchid="' + item.churchMediaId + '">' + item.tabName + '</div></div> </div><div class="row m-0"><div class="col-12 "><img src="../theme/images/lightbox/free-video-2757709.jpg" class="w-100 h-100" alt="image" /><div class="demo-gallery-poster"><img src="../theme/images/lightbox/play-button.png" alt="image"></div></div></div></div>';
                   // html += '<div class="col-lg-4 col-md-6 col-sm-12 p-2  mb-3  "><div class="row m-0"><div class="col-12"><div class="for-generic  text-white font-16 font-weight-bolder w-100 mb-0" id="context-menu-hover-autohideVideos" mediachurchid="' + item.churchMediaId + '">' + item.tabName + '</div></div> </div><div class="row m-0"><div class="col-12 "><a class="image-tile " href="#"><img src="../theme/images/lightbox/free-video-2757709.jpg" class="w-100 h-100" alt="image" /><div class="demo-gallery-poster"> <img src="../theme/images/lightbox/play-button.png" alt="image"></div></a></div></div></div>';
                });
                $('.videosTab').html(html);
            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            }
        });
    }


    function EditVideo(churchMediaId) {
         $.ajax({
            type: "Get",
            url: '@Url.Action("EditVideo", "MediaChurch")',
             data: { id: churchMediaId },
            success: function (data) {
                $('#EditPreview').html(data);
                $('#EditVidModal').modal('show');

            }
        })


            }

    function DeleteRecording(churchMediaId) {
        var ans = confirm("Are you sure you want to delete this Video?");
        if (ans) {
            $.ajax({
                url: "/MediaChurch/DeleteVideo/" + churchMediaId,
                type: "POST",

                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        loadVideo();
                        $(window).scrollTop(0);
                        $('#addMediaSuccessMessage').removeAttr('hidden');
                        $('#addMediaSuccessMessage').html('Video deleted successfully');
                        $('#addMediaSuccessMessage').fadeIn();

                        $('#addMediaSuccessMessage').fadeTo(5000, 500).slideUp(500, function () {
                            $("#addMediaSuccessMessage").slideUp(500);
                        });
                        $('#addMediaSuccessMessage').attr('hidden');
                    }
                    else {
                        $(window).scrollTop(0);
                        $('#addMediaErrorMessage').removeAttr('hidden');
                        $('#addMediaErrorMessage').html(result.responseText);
                        $('#addMediaErrorMessage').fadeIn();

                        $('#addMediaErrorMessage').fadeTo(5000, 500).slideUp(500, function () {
                            $("#addMediaErrorMessage").slideUp(500);

                        });
                        $('#addMediaErrorMessage').attr('hidden');
                    }

                },
                error: function (errormessage) {
                    // alert(errormessage.responseText);
                }
            });
        }
    }



</script>
<script src="~/js/jwplayer.js"></script>