@model MCNMedia_Dev.Models.GenericModel
@{

}
<script src="~/theme/js/modal-demo.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('#createAccount').click(function () {

    //        //$("#AccountModal").modal('show');
    //        // $('#AccountModal').modalPopLite({ openButton: '#clicker', closeButton: '#close-btn' });

    //    });
    //});
</script>


<div class="card">
    <div class="card-body">
        <div class="float-right">
            <button type="submit" id="AddPicture" class="btn btn-outline-behance btn-sm " title="Add New" onclick="AddPicture()"> <i class="fa fa-plus "></i> Add New Picture</button>
        </div>
        <div class="">
            @*@using (Html.BeginForm("Edit", "Camera", FormMethod.Post))
                {*@

            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Tab Name
                        </th>
                        <th>
                            File Name
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Created At
                        </th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="PicList">
                </tbody>
            </table>


            @*}*@
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:40%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddPreview">
                        @Html.Partial("~/Views/MediaChurch/AddPicture.cshtml", Model.Media)
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="EditPicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:40%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="EditPicPreview">
                        @Html.Partial("~/Views/MediaChurch/EditPicture.cshtml", Model.Media)
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
       loadPicture();
    });

    function loadPicture() {
        $.ajax({
            url: "/MediaChurch/GetMediaByTypeId",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            data: { medType: "Picture" },
            dataType: "json",
            success: function (result) {
                if (result === -1) {
                   
                    location.reload();
                }
                

                
                var html = '';

                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.tabName + '</td>';
                        html += '<td>' + item.mediaName + '</td>';
                        html += '<td>' + item.createdBy + '</td>';
                        html += '<td>' + item.createdAt + '</td>';
                        //html += '<td>' + item.rtspPort + '</td>';
                        html += ' <td>';
                        html += '<a onclick="EditPicture(' + item.churchMediaId + ')" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit text-white"></i></a>&nbsp;';
                        html += '<a onclick="DeletePicture(' + item.churchMediaId + ')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash text-white"></i></a>';
                        html += ' </td>';
                        html += '</tr>';
                    
                        });
                $('.PicList').html(html);
            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            } 
        });
    }

     function AddPicture() {

    $('#AddModal').modal('show');

      }

    function EditPicture(churchMediaId) {
        $.ajax({
        type: "Get",
        url: '@Url.Action("EditMedia", "MediaChurch")',
            data: { id: churchMediaId },
        success: function (data) {
            $('#EditPicPreview').html(data);
            $('#EditPicModal').modal('show');
            },
            error: function (errormessage) {
                // alert(errormessage.responseText);
            }
        });


    }


    function DeletePicture(churchMediaId) {
    var ans = confirm("Are you sure you want to delete this Picture?");
    if (ans) {
        $.ajax({
            url: "/MediaChurch/DeleteMedia/" + churchMediaId,
            type: "POST",

            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                if (result === -1) {

                    location.reload();
                }
                loadPicture();
                if (result) { alert("Record Deleted");}
            },
            error: function (errormessage) {
               // alert(errormessage.responseText);
            }
        });
    }
    }


</script>
