@model MCNMedia_Dev.Models.GenericModel
@{

}
<script src="~/theme/js/modal-demo.js"></script>
<script type="text/javascript">
 
</script>


<div class="card">
    <div class="card-body">
        <button type="submit" id="AddSlideShow1" class="btn btn-outline-behance btn-sm float-right " onclick="AddSlideShow()"> <i class="mdi mdi-plus"></i> Add New SlideShow</button>
        <div class="">
           
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Tab Name
                        </th>
                        <th>
                            File Name
                        </th>
                        <th>
                            Created By
                        </th>
                        

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="SlideShowList">
                </tbody>
            </table>


           
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddSlideShowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:40%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add SlideShow</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddSlideShowPreview">
                        @Html.Partial("~/Views/MediaChurch/_AddSlideShow.cshtml", Model.Media)
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="EditSlideShowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:40%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit SlideShow</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="EditSlideShowPreview">
                        @Html.Partial("~/Views/MediaChurch/_EditSlideShow.cshtml", Model.Media)
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        loadSlideShow();
    });

    function loadSlideShow() {
        $.ajax({
            url: "/MediaChurch/GetSlideShowByTypeId",
            type: "GET",
            data: { medType:"SlideShow"},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';

                $.each(result, function (key, item) {
                    html += '<tr >';
                    html += '<td class="text-wrap">' + item.tabName + '</td>';
                    html += '<td class="text-wrap">' + item.mediaName + '</td>';
                    html += '<td class="text-wrap">' + item.createdBy + '</td>';
              
                    html += ' <td>';
                    html += '<a onclick="EditSlideShow(' + item.churchMediaId + ')" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit text-white"></i></a>&nbsp;';
                    html += '<a onclick="DeleteSlideShow(' + item.churchMediaId + ')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash text-white"></i></a>';
                    html += ' </td>';
                    html += '</tr>';
                });
                $('.SlideShowList').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function AddSlideShow() {

    $('#AddSlideShowModal').modal('show');

      }

    function EditSlideShow(churchMediaId) {
        $.ajax({
        type: "Get",
        url: '@Url.Action("EditSlide", "MediaChurch")',
            data: { id: churchMediaId },
        success: function (data) {
            $('#EditSlideShowPreview').html(data);
            $('#EditSlideShowModal').modal('show');
        }
        })


    }


    function DeleteSlideShow(churchMediaId) {
    var ans = confirm("Are you sure you want to delete this SlideShow?");
    if (ans) {
        $.ajax({
            url: "/MediaChurch/DeleteSlide/" + churchMediaId,
            type: "POST",

            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                loadSlideShow();
                if (result) { alert("Record Deleted");}
            },
            error: function (errormessage) {
               // alert(errormessage.responseText);
            }
        });
    }
    }


</script>
