@model MCNMedia_Dev.Models.GenericModel
@{
   
}
<div class="row">

    <div class="col-sm-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Media.ChurchMediaId" class="form-control" id="ChurchMedId" />
            <input type="hidden" asp-for="Media.MediaURL" class="form-control" id="medUrl" />
            @*<div class="form-group">
            <label asp-for="Pictures.MediaName" class="control-label">Media Name</label>
            <input asp-for="Pictures.MediaName" class="form-control" id="MediaName" />
            <span asp-validation-for="Pictures.MediaName" class="text-danger"></span>
        </div>*@

        <div class="form-group row">
            <div class="col-2"></div>
            <div class="col-8">
                @*<label asp-for="Media.MediaURL" class="control-label">Picture URL</label>*@
                <input asp-for="Media.MediaURL" class="form-control dropify" type="file" name="MediaURl3" />
                <span asp-validation-for="Media.MediaURL" class="text-danger"></span>
                <input type="hidden" id="HdnMediaUrl2" asp-for="Media.MediaURL" />
                <input type="hidden" id="HdnMediaName2" asp-for="Media.MediaName" />
            </div>
                <div class="col-2"></div>
        </div>
            <div class="form-group">
                <label asp-for="Media.TabName" class="control-label">Tab Name</label>
                <input asp-for="Media.TabName" class="form-control" />
                <span asp-validation-for="Media.TabName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Pictures.MediaType" class="control-label">Media Type</label>
            <input asp-for="Pictures.MediaType" class="form-control" />
            <span asp-validation-for="Pictures.MediaType" class="text-danger"></span>
        </div>*@


            <div class="form-group float-right">
                <a onclick="UpdatePicture()" class="btn btn-warning btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="mdi mdi-update text-white"></i> Update</a>
                @*<button type="submit" value="Add" class="btn btn-primary btn-sm "><i class="fa fa-plus"></i> Update </button>*@
                <a id="back" class="btn btn-secondary btn-sm text-white " data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close-o text-white"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
     $(document).ready(function () {
         var filedropper = $('#Media_MediaURL').dropify();
         filedropper = filedropper.data('dropify');
         filedropper.resetPreview();
         filedropper.clearElement();

         filedropper.settings['defaultFile'] = '../' + $('#medUrl').val();
         filedropper.destroy();
         filedropper.init();

     });

    function UpdatePicture() {

        var ChurchMediaId = $('#ChurchMedId').val();
        var EditPictureTabName = document.getElementById('Media_TabName').value;
        var mediaUrl = $('#HdnMediaUrl2').val();
        var mediaName = $('#HdnMediaName2').val();
        var formData = new FormData();
        formData.append("ChurchMediaId", ChurchMediaId);
        formData.append("mediaType", "Picture");
        formData.append("EditPictureTabName", EditPictureTabName);
        formData.append("MediaUrl", mediaUrl);
        formData.append("MediaName", mediaName);
        var input = document.getElementById('Media_MediaURL');
        formData.append("mediaFile", input.files[0]);

        $.ajax({
            type: "POST",
            url: "/MediaChurch/UpdateMedia/",
            data: formData,

            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (result) {
                loadPicture();
                $('#EditPicModal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });

    }
</script>
