@model MCNMedia_Dev.Models.GenericModel
@{

}
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div class="row m-0 mb-3">
                <div class="col-lg-12">
                    <div class="alert alert-danger" id="editPictureErrorMessage" hidden>

                    </div>

                </div>

            </div>
            <div class="form-group row p-3" id="alertDiv34">
                <div class="col-md-12">
                    <div class="alertNew alert-dangerNew" id="alertLabel32">

                    </div>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Media.ChurchMediaId" class="form-control" id="ChurchMedId" />
            <input type="hidden" asp-for="Media.MediaURL" class="form-control" id="medUrl" />
            <div class="form-group row">
                <input type="hidden" id="HdnMediaUrl2" asp-for="Media.MediaURL" />
                <input type="hidden" id="HdnMediaName2" asp-for="Media.MediaName" />
                <label asp-for="Media.TabName" class="control-label">Tab Name</label>
                <input asp-for="Media.TabName" class="form-control" id="mededitPictabName" />
                <span asp-validation-for="Media.TabName" class="text-danger"></span>
            </div>
            <div class="form-group float-right">
                <a onclick="UpdateMediaPicture()" class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="mdi mdi-update text-white"></i> Update</a>
                <a id="back" class="btn btn-warning btn-sm text-white " data-dismiss="modal" aria-label="Close" title="Back"><i class="fa fa-chevron-left text-white"></i> Back</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#mededitPictabName').attr('class', 'form-control');
        $('#alertDiv34').hide();
    });
  

    function UpdateMediaPicture() {
        
        var ss = "";
       var ChurchMediaId = $('#ChurchMedId').val();
        var EditPictureTabName = document.getElementById('mededitPictabName').value;
        
        var mediaUrl = $('#HdnMediaUrl2').val();
        var mediaName = $('#HdnMediaName2').val();
        var formData = new FormData();
        formData.append("ChurchMediaId", ChurchMediaId);
        formData.append("mediaType", "Picture");
        formData.append("EditPictureTabName", EditPictureTabName);
        formData.append("MediaUrl", mediaUrl);
        formData.append("MediaName", mediaName);
        if (EditPictureTabName == '') {
            ss += '<label >Please provide a valid Tab Name </label>';
            $('#alertLabel32').html(ss);
            $('#alertDiv34').show();
            return;
            $('#EditVidModal').modal('show');
        }
        $('#EditPicModal').modal('hide');
        displayBusyIndicator();
        $.ajax({
            type: "POST",
            url: "/MediaChurch/UpdateMedia/",
            data: formData,

            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (result) {
           

                if (result.success) {
                    displayBusyIndicator2();
                    $('#EditPicModal').modal('hide');
                    loadPicture();
                    $('#addMediaSuccessMessage').removeAttr('hidden');
                    $('#addMediaSuccessMessage').html('Picture updated successfully');
                    $('#addMediaSuccessMessage').fadeIn();
                    $('#addMediaSuccessMessage').fadeTo(5000, 500).slideUp(500, function () {
                        $("#addMediaSuccessMessage").slideUp(500);
                    });
            
                    $('#addMediaSuccessMessage').attr('hidden');

        
               
                }
                else {
                   
                    $('#EditPicModal').modal('show');
                    $('#editPictureErrorMessage').removeAttr('hidden');
                    $('#editPictureErrorMessage').html(result.responseText);
                    $('#editPictureErrorMessage').fadeIn();

                    $('#editPictureErrorMessage').fadeTo(5000, 500).slideUp(500, function () {
                        $("#editPictureErrorMessage").slideUp(500);


                    });
                    $('#editPictureErrorMessage').attr('hidden');
                }
            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            }
        });
    }
</script>
