@model MCNMedia_Dev.Models.Schedule
@using Microsoft.AspNetCore.Http; 

@{
    ViewData["Title"] = "Schedule";
}



<form class="needs-validation" novalidate id="AddScheduleChurch">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="card">
        <div class="card-body">
         
            <div class="form-group row">
               

                <input type="hidden" id="HdnSession" value="@Context.Session.GetInt32("ChurchId")" />
                <label asp-for="EventName" for="validationCustom03" class="col-sm-2 col-form-label">Event Name</label>
                <div class="col-sm-10">

                    <span asp-validation-for="EventName" class="text-danger"></span>

                    <input type="text" asp-for="EventName" class="form-control" id="EventName" placeholder="Event Name" required />
                    <div class="invalid-feedback">
                        Please provide a valid EventName.
                    </div>
                </div>

            </div>


            <div class="form-group row">

                <div class="col-sm-12">

                    <div class="custom-control custom-switch lg">
                        <input type="checkbox" class="custom-control-input control" asp-for="IsRepeated" name="IsRepeated" id="IsRepeated">
                        <label class="custom-control-label" for="IsRepeated">Would you like to repeat this event?</label>

                    </div>


                </div>
            </div>
            <div class="form-group row">

                <label asp-for="EventDate" for="validationCustom05" id="EventLabel1" class="col-sm-2 col-form-label">Event Date</label>
                <div class="col-sm-4" id="EventInput1">
                    <span asp-validation-for="EventDate" class="text-danger"></span>
                    <div id="datepicker-popup2" class="input-group date datepicker">
                        <input type="text" asp-for="EventDate" class="form-control" id="EventDate" placeholder="Event Date" />

                        <span class="input-group-addon input-group-append border-left">
                            <span class="ti-calendar input-group-text"></span>
                        </span>
                    </div>

                    <div class="invalid-feedback" id="addChurchSchudevalidation">
                        Please provide a valid Event Date.
                    </div>

                </div>
               



                <label asp-for="EventDay" for="validationCustom06" id="EventDayLabel1" class="col-sm-2 col-form-label">Event Day</label>
                <div class="col-sm-4" id="EventDayInput1">
                    <span asp-validation-for="EventDay" class="text-danger"></span>


                    <select asp-for="EventDay" class="custom-select" id="EventDay">
                        <option selected="selected" disabled value="0">Please select Day</option>
                        <option value="Monday"  name="EventDay">Monday</option>
                        <option value="Tuesday" name="EventDay">Tuesday</option>
                        <option value="Wednesday" name="EventDay">Wednesday</option>
                        <option value="Thursday" name="EventDay">Thursday</option>
                        <option value="Friday" name="EventDay">Friday</option>
                        <option value="Saturday" name="EventDay">Saturday</option>
                        <option value="Sunday" name="EventDay">Sunday</option>

                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid Event Day.
                    </div>
                </div>

                <label asp-for="EventTime" class="col-sm-2 col-form-label" for="validationCustom02">Event Time</label>
                <div class="col-sm-4">
                    <span asp-validation-for="EventTime" class="text-danger"></span>
                    <div class="form-group">
                        <div class="input-group date " id="timepicker-example" data-target-input="nearest">

                            <div class="input-group" data-target="#timepicker-example" data-toggle="datetimepicker">

                                <input type="text" asp-for="EventTime" class="form-control datetimepicker-input" id="EventTime" data-target="#timepicker-example" placeholder="Event Time" required />

                                <div class="input-group-addon input-group-append"><i class="ti-time input-group-text"></i></div>
                                <div class="invalid-feedback">
                                    Please provide a valid EventTime.
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-12 pt-3">
                    <div class="custom-control custom-switch lg">
                        <input type="checkbox" class="custom-control-input control" asp-for="Record" name="AddToggleRecord" id="AddToggleRecord">
                        <label class="custom-control-label" for="AddToggleRecord">Would you like to record this event?</label>

                    </div>


                </div>
            </div>
            <div class="form-group row" id="AddDivRecordData">
                <label asp-for="CameraId" class="col-sm-2 col-form-label">Camera</label>

                <div class="col-sm-4 ">
                    <span asp-validation-for="CameraId" class="text-danger"></span>
                    <select asp-for="CameraId" name="CameraId" class="custom-select" id="AddScheduleCameraId">
                    </select>
                    <div class="invalid-feedback">
                        Please Select A valid Camera
                    </div>
                </div>

                <label asp-for="RecordDuration" class="col-sm-2 col-form-label">Duration</label>

                <div class="col-sm-4 ">
                    <span asp-validation-for="RecordDuration" class="text-danger"></span>
                    <select asp-for="RecordDuration" class="custom-select" id="RecordDuration">
                        <option value="0" disabled selected>--Select Record Duration--</option>
                        <option value="30" name="RecordDuration">30 Minutes</option>
                        <option value="40" name="RecordDuration">40 Minutes</option>
                        <option value="60" name="RecordDuration">1 Hour</option>
                        <option value="75" name="RecordDuration">1 Hour 15 Minutes</option>
                        <option value="90" name="RecordDuration">1 Hour 30 Minutes</option>
                        <option value="105" name="RecordDuration">1 Hour 45 Minutes</option>
                        <option value="120" name="RecordDuration">2 Hours</option>


                    </select>
                    <div class="invalid-feedback">
                        Please Select A valid Duration
                    </div>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-12 pt-3">
                    <div class="custom-control custom-switch lg">
                        <input type="checkbox" class="custom-control-input control" id="AddpasswordToggle">
                        <label class="custom-control-label" for="AddpasswordToggle">Would you like to password protect this event?</label>

                    </div>


                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password" id="AddlblPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4 " id="AddSchPassword">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input type="text" asp-for="Password" class="form-control" placeholder="Password" id="AddTextPassword" />
                   <div class="invalid-feedback">
                       Please Provide a valid Password
                   </div>
                </div>
                <div class="col-sm-6" id="AddbtnSchdule">
                    <div class="float-right">
                        <a id="addScheduleVal111" value="Create" class="btn btn-success btn-sm text-white addchurchscheduleclick " title="Add"><i class="mdi mdi-content-save "></i> Add</a>
                        <a id="back" class="btn btn-warning btn-sm  text-white " data-dismiss="modal" aria-label="Close" title="Cancel"><i class="fa fa-window-close-o text-white"></i> Cancel</a>

                        
                    </div>
                </div>



                <div class="col-sm-12" id="AddbtnSchdulecol12">
                    <div class="float-right">
                        <a id="addScheduleVal222" value="Create" class="btn btn-success btn-sm text-white addchurchscheduleclick " title="Add"><i class="mdi mdi-content-save "></i> Add</a>
                        <a id="back" class="btn btn-warning btn-sm  text-white " data-dismiss="modal" aria-label="Close" title="Cancel"><i class="fa fa-window-close-o text-white"></i> Cancel</a>
                    </div>
                </div>

            </div>


        </div>
    </div>


</form>

<script type="text/javascript">
    $(function () {
        $("#addScheduleVal111").on("click", function (e) {
            var form = $("#AddScheduleChurch")[0];
            var isValid = form.checkValidity();
            if (!isValid) {
                if ($('#IsRepeated').val().toLowerCase() == 'false' && $('#EventDate').val() == '') {

                    $('#datepicker-popup2').attr('class', 'input-group date datepicker border-danger');
                    $('#addChurchSchudevalidation').attr('style', 'display:block');




                }
                e.preventDefault();
                e.stopPropagation();
            }
            else {
                checkScheduleAdd();
            }
            form.classList.add('was-validated');
            return false; // For testing only to stay on this page
        });
    });
  

    $(function () {
        $("#addScheduleVal222").on("click", function (e) {
            var form = $("#AddScheduleChurch")[0];
            var isValid = form.checkValidity();
            if (!isValid) {
                if ($('#IsRepeated').val().toLowerCase() == 'false' && $('#EventDate').val() == '') {

                    $('#datepicker-popup2').attr('class', 'input-group date datepicker border-danger');
                    $('#addChurchSchudevalidation').attr('style', 'display:block');




                }
                e.preventDefault();
                e.stopPropagation();
            }
            else {
                checkScheduleAdd();
            }
            form.classList.add('was-validated');
            return false; // For testing only to stay on this page
        });
    });

   
  
    function checkScheduleAdd() {
        if ($('#AddToggleRecord').val().toLowerCase() == 'true' && $('#AddScheduleCameraId').val() == 0) {
            swal("Oops!", "Kindly Select Camera or Disable Recording", "error");

            return false;
        }
        var eventName = document.getElementById('EventName').value;
        var isRepeat = document.getElementById('IsRepeated').value;
        var eventDate = document.getElementById('EventDate').value;
        var eventDay = document.getElementById('EventDay').value;
        var eventTime = document.getElementById('EventTime').value;
        var recordtoggle = document.getElementById('AddToggleRecord').value;
  
        var cameraId = document.getElementById('AddScheduleCameraId').value;
        var recordDuration = document.getElementById('RecordDuration').value;
     
        var passwordtoggle = document.getElementById('AddpasswordToggle').value;
        var password = document.getElementById('AddTextPassword').value;
        var formData = new FormData();
        formData.append("eventName", eventName);
        formData.append("isRepeat", isRepeat);
        formData.append("eventDay", eventDay);
        formData.append("eventDate", eventDate);
        formData.append("eventTime", eventTime);
        formData.append("recordtoggle", recordtoggle);
        formData.append("recordDuration", recordDuration);
        formData.append("cameraId", cameraId);
        formData.append("password", password);
        formData.append("passwordtoggle", passwordtoggle);
        
        $.ajax({
        type: "POST",
        url: "/ChurchSchedule/AddChurchSchedule/",
           
        data: formData,
        processData: false,  // tell jQuery not to process the data
        contentType:false, // tell jQuery not to set contentType
            
        //data: { AddVidTabName: AddvidTabName, VidFile11: VidFile1 },


            success: function (response) {
                if (response.success) {
                    loadChurchSch();
                    $('#AddChurchScheduleModel').modal('hide');
                    $('#AddScheduleChurch')[0].reset();

                }
                else {
                    showDangerToasts(response.responseText);


                } 
              
           
        },
            error: function (errormessage) {
               
            //alert(errormessage.responseText);
        }
    });

    }
    function showDangerToasts(text) {
      
        'use strict';
        resetToastPosition();
        $.toast({
            heading: 'Danger',
            text: text,
            showHideTransition: 'slide',
            icon: 'error',
            loaderBg: '#f2a654',
            position: 'bottom-right'
        })
    };
   
    $(document).ready(function () {
      
        $('#alertDiv').hide();
        $('#EventDayLabel1').hide();
        $('#EventDayInput1').hide();
        $('#EventLabel1').show();
        $('#EventInput1').show();
        $('#IsRepeated').val("false");
        $('#AddpasswordToggle').val("false");
        $('#AddpasswordToggle').val("false");
        $('#AddToggleRecord').val("false");
        $('#EventDate').attr('required', 'required');

        

        AddHidePassword();
        AddHideRecordData();

        AddDoPostBack();
    });

    $('#EventDate').change(function () {
        if ($('#EventDate').val().length > 0) {

            $('#datepicker-popup2').attr('class', 'input-group date datepicker border-success');
            $('#addChurchSchudevalidation').removeAttr('style', 'display:block');
        }
        else {
            $('#datepicker-popup2').attr('class', 'input-group date datepicker border-danger');
            $('#addChurchSchudevalidation').attr('style', 'display:block');
        }

    });


    $('#IsRepeated').change(function () {

        if (this.checked)
        {
            $('#EventDayLabel1').show();
            $('#EventDayInput1').show();
            $('#EventLabel1').hide();
            $('#EventInput1').hide();
            $(this).val("true");
            $('#EventDay').attr('required', 'required');
            $('#EventDate').removeAttr('required', 'required');


           
       
        }

        else {
            $('#EventDayLabel1').hide();
            $('#EventDayInput1').hide();
            $('#EventLabel1').show();
            $('#EventInput1').show();
            $(this).val("false");
            $('#EventDay').removeAttr('required', 'required');
            $('#EventDate').attr('required', 'required');
        

        }


    });
    $('#AddpasswordToggle').change(function () {
        
        if (this.checked) {
           
            $('#AddpasswordToggle').val("true");
            $('#AddTextPassword').attr('required', 'required');

            AddShowPassword();
        }

        else {
        
            $('#AddpasswordToggle').val("false");
            $('#AddTextPassword').removeAttr('required', 'required');
            AddHidePassword();
        }


    });

    $('#AddToggleRecord').change(function () {
        if (this.checked) {
            AddShowRecordData();
            $('#AddToggleRecord').val("true");
            $('#AddScheduleCameraId').attr('required', 'required');
            $('#RecordDuration').attr('required', 'required');
               }

        else {
            AddHideRecordData();
            $('#AddToggleRecord').val("false");
            $('#AddScheduleCameraId').removeAttr('required', 'required');
            $('#RecordDuration').removeAttr('required', 'required');
        }


    });

    function AddHidePassword() {
        
        $('#AddlblPassword').hide();
        $('#AddSchPassword').hide();
        $('#AddbtnSchdule').hide();
        $('#AddbtnSchdulecol12').show();
    }

    function AddShowPassword() {
 
        $('#AddlblPassword').show();
        $('#AddSchPassword').show();
        $('#AddbtnSchdule').show();
        $('#AddbtnSchdulecol12').hide();
    }

    function AddHideRecordData() {
        $('#AddDivRecordData').hide();


    }

    function AddShowRecordData (){
        $('#AddDivRecordData').show();





    }


    function AddDoPostBack() {

        var ChurchId = $('#HdnSession').val();
       
        $.ajax({
            url: "/Schedule/LoadCameraDDL",
            type: "GET",
            data: { ChurchId: ChurchId },
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            success: function (result) {
                var s ='<option value="0" disabled selected>--Select Camera--</option>';
                $.each(result, function (key, item) {
                    s += '<option value="' + item.cameraId + '">' + item.cameraName + '</option>'

                });

                $("#AddScheduleCameraId").html(s);
             




            },
            error: function (errormessage) {

                //alert(errormessage.responseText);
            }
        });
    }


</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
