@model MCNMedia_Dev.Models.Schedule
@using Microsoft.AspNetCore.Http;



<link rel="stylesheet" href="~/theme/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">

<form class="needs-validation" novalidate>
    <div class="row">
        <div class="col-sm-12">



            <div class="card">
                <div class="card-body">

                    <input type="hidden" name="id" asp-for="ScheduleId" />
                    <input type="hidden" id="HdnEditSession" value="@Context.Session.GetInt32("ChurchId")" />
                    <input type="hidden" id="HdnEditCameraId" asp-for="CameraId" />
                    <input type="hidden" id="HdnEditIsrepeated" asp-for="IsRepeated" />
                    <input type="hidden" id="HdnEditScheduleID" asp-for="ScheduleId" />
                    <div class="form-group row">


                        <label asp-for="EventName" for="EditEventName" class="col-sm-2 col-form-label">Event Name</label>
                        <div class="col-sm-10">

                            <span asp-validation-for="EventName" class="text-danger"></span>

                            <input type="text" asp-for="EventName" class="form-control" id="EditEventName" placeholder="Event Name" required />

                        </div>

                    </div>


                    <div class="form-group row">

                        <div class="col-sm-12">

                            <div class="custom-control custom-switch lg">
                                <input type="checkbox" class="custom-control-input control" asp-for="IsRepeated" name="IsRepeated" id="EditIsRepeated">
                                <label class="custom-control-label" for="EditIsRepeated">Would you like to repeat Event?</label>

                            </div>


                        </div>
                    </div>
                    <div class="form-group row">


                        <label asp-for="EventDate" for="EditEventDate" id="EditEventLabel1" class="col-sm-2 col-form-label">Event Date</label>

                        <div class="col-sm-4" id="EditEventInput1">
                            <div id="datepicker-popup" class="input-group date datepicker">
                                <input type="text" asp-for="EventDate" class="form-control" id="EditEventDate" placeholder="Event Date" />


                                <span class="input-group-addon input-group-append border-left">
                                    <span class="ti-calendar input-group-text"></span>
                                </span>
                            </div>
                        </div>





                        <label asp-for="EventDay" for="validationCustom06" id="EditEventDayLabel1" class="col-sm-2 col-form-label">Event Day</label>
                        <div class="col-sm-4" id="EditEventDayInput">
                            <span asp-validation-for="EventDay" class="text-danger"></span>


                            <select asp-for="EventDay" class="form-control" id="EditEventDay" required>
                                <option selected="selected" value="0">Please select Day</option>
                                <option value="Monday" name="EditEventDay">Monday</option>
                                <option value="Tuesday" name="EditEventDay">Tuesday</option>
                                <option value="Wednesday" name="EditEventDay">Wednesday</option>
                                <option value="Thursday" name="EditEventDay">Thursday</option>
                                <option value="Friday" name="EditEventDay">Friday</option>
                                <option value="Saturday" name="EditEventDay">Saturday</option>
                                <option value="Sunday" name="EditEventDay">Sunday</option>

                            </select>

                        </div>

                        <label asp-for="EventTime" class="col-sm-2 col-form-label" for="EditEventTime">Event Time</label>
                        <div class="col-sm-4">
                            <span asp-validation-for="EventTime" class="text-danger"></span>
                            <div class="form-group">
                                <div class="input-group date " id="timepicker-example2" data-target-input="nearest">

                                    <div class="input-group" data-target="#timepicker-example2" data-toggle="datetimepicker">

                                        <input type="text" asp-for="EventTime" class="form-control datetimepicker-input" id="EditEventTime" data-target="#timepicker-example2" placeholder="Event Time" required />

                                        <div class="input-group-addon input-group-append"><i class="ti-time input-group-text"></i></div>

                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-12 pt-3">
                            <div class="custom-control custom-switch lg">

                                <input type="checkbox" class="custom-control-input control" asp-for="Record" name="EditRecoredToggle" id="EditRecoredToggle">
                                <label class="custom-control-label" for="EditRecoredToggle">Would you like to record this event?</label>

                            </div>


                        </div>
                    </div>
                    <div class="form-group row" id="EditDivRecordData">
                        <label asp-for="CameraId" class="col-sm-2 col-form-label">Camera</label>

                        <div class="col-sm-4 ">
                            <span asp-validation-for="CameraId" class="text-danger"></span>
                            <select asp-for="CameraId" name="CameraId" class="form-control" id="EditScheduleCameraId">                                                    </select>
                        </div>

                        <label asp-for="RecordDuration" class="col-sm-2 col-form-label">Duration</label>

                        <div class="col-sm-4 ">
                            <span asp-validation-for="RecordDuration" class="text-danger"></span>
                            <select asp-for="RecordDuration" class="form-control" id="EditDuration">
                                <option value="30" name="RecordDuration">30 Minutes</option>
                                <option value="40" name="RecordDuration">40 Minutes</option>
                                <option value="60" name="RecordDuration">1 Hour</option>
                                <option value="75" name="RecordDuration">1 Hour 15 Minutes</option>
                                <option value="90" name="RecordDuration">1 Hour 30 Minutes</option>
                                <option value="105" name="RecordDuration">1 Hour 45 Minutes</option>
                                <option value="120" name="RecordDuration">2 Hour </option>


                            </select>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-12 pt-3">
                            <div class="custom-control custom-switch lg">
                                <input type="checkbox" class="custom-control-input control" id="EditPasswordToggle">
                                <label class="custom-control-label" for="EditPasswordToggle">Would you like to password protect this recording?</label>

                            </div>


                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Password" id="EditlblPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-4 " id="EditSchPassword">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <input type="text" asp-for="Password" id="SchEditPassword" class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-sm-6" id="EditbtnSchdule">
                            <div class="float-right">
                                <a id="UpdateEditScheduleVal" value="Update" class="btn btn-primary "><i class="fa fa-plus"></i> Update</a>
                                <a id="back" class="btn btn-secondary btn-md "><i class="fa fa-chevron-left"></i> Back</a>
                            </div>
                        </div>



                        <div class="col-sm-12" id="EditbtnSchCol12">
                            <div class="float-right">
                                <a id="UpdateEditScheduleVal2" value="Update" class="btn btn-success btn-sm text-white  " title="Update"><i class="mdi mdi-update text-white"></i> Update</a>
                                <a id="back" class="btn btn-warning btn-sm text-white  " title="Back"><i class="fa fa-chevron-left"></i> Back</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</form>
<script src="~/theme/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/theme/js/formpickers.js"></script>
<script type="text/javascript">
    $('#UpdateEditScheduleVal').click(function () {

        UpdateChurchSchedule();
    });
    $('#UpdateEditScheduleVal2').click(function () {

        UpdateChurchSchedule();
    });

    function UpdateChurchSchedule() {

        var eventName = document.getElementById('EditEventName').value;
        var isRepeat = document.getElementById('EditIsRepeated').value;
        var eventDate = document.getElementById('EditEventDate').value;
        var eventDay = document.getElementById('EditEventDay').value;
        var eventTime = document.getElementById('EditEventTime').value;
        var recordtoggle = document.getElementById('EditRecoredToggle').value;

        var cameraId = document.getElementById('EditScheduleCameraId').value;
        var recordDuration = document.getElementById('EditDuration').value;
        var passwordtoggle = document.getElementById('EditPasswordToggle').value;
        var password = document.getElementById('SchEditPassword').value;
        var scheduleId = document.getElementById('HdnEditScheduleID').value;
        var NewFormData = new FormData();
        NewFormData.append("eventName", eventName);
        NewFormData.append("isRepeat", isRepeat);
        NewFormData.append("eventDay", eventDay);
        NewFormData.append("eventDate", eventDate);
        NewFormData.append("eventTime", eventTime);
        NewFormData.append("recordtoggle", recordtoggle);
        NewFormData.append("recordDuration", recordDuration);
        NewFormData.append("cameraId", cameraId);
        NewFormData.append("password", password);
        NewFormData.append("passwordtoggle", passwordtoggle);
        NewFormData.append("scheduleId", scheduleId);
        $.ajax({
            type: "POST",
            url: "/ChurchSchedule/UpdateChurchSchedule/",

            data: NewFormData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,

            success: function (response) {
                if (response.success) {

                    loadChurchSch();
                    $('#EditChurchScheduleModal').modal('hide');
                } else {
                    // DoSomethingElse()
                    alert(response.responseText);
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });

    }
    function CheckScheduleData() {



        var isCheck = ($('#HdnEditIsrepeated').val() == 'True');



        if (isCheck) {

            $('#EditEventDayLabel1').show();
            $('#EditEventDayInput').show();
            $('#EditEventLabel1').hide();
            $('#EditEventInput1').hide();
            $('#EditIsRepeated').val("true");

        }

        else {

            $('#EditEventDayLabel1').hide();
            $('#EditEventDayInput').hide();
            $('#EditEventLabel1').show();
            $('#EditEventInput1').show();
            $('#EditIsRepeated').val("false");
        }


        var modelpaswordValue = $('#SchEditPassword').val();

        if (modelpaswordValue.length > 1) {

            ShowPassword();
            $('#EditPasswordToggle').attr('checked', true);
        }
        else {
            HidePassword();
        }

        var modelRecordData = $('#HdnEditCameraId').val();




        if (modelRecordData > 0) {

            ShowRecordData();
            $('#EditRecoredToggle').attr('checked', true);



        }
        else {
            $('#EditRecoredToggle').attr('checked', false);
            HideRecordData();
        }


        DoPostBack();


    }

    $('#EditIsRepeated').change(function () {

        if (this.checked) {

            $('#EditEventDayLabel1').show();
            $('#EditEventDayInput').show();
            $('#EditEventLabel1').hide();
            $('#EditEventInput1').hide();
            $('#EditIsRepeated').val('true');


        }

        else {
            $('#EditEventDayLabel1').hide();
            $('#EditEventDayInput').hide();
            $('#EditEventLabel1').show();
            $('#EditEventInput1').show();
            $('#EditIsRepeated').val('false');


        }


    });
    $('#EditPasswordToggle').change(function () {
        if (this.checked) {

            $('#EditlblPassword').show();
            $('#EditSchPassword').show();
            $('#EditbtnSchdule').show();
            $('#EditbtnSchCol12').hide();
            $('#EditPasswordToggle').val(true);
        }

        else {
            $('#EditlblPassword').hide();
            $('#EditSchPassword').hide();
            $('#EditbtnSchdule').hide();
            $('#EditbtnSchCol12').show();
            $('#EditPasswordToggle').val(false);
        }


    });

    $('#EditRecoredToggle').change(function () {
        if (this.checked) {

            ShowRecordData();


        }

        else {
            HideRecordData();
        }


    });

    function HidePassword() {
        $('#EditlblPassword').hide();
        $('#EditSchPassword').hide();
        $('#EditbtnSchdule').hide();
        $('#EditbtnSchCol12').show();
        $('#EditPasswordToggle').val(false);
    }

    function ShowPassword() {
        $('#EditlblPassword').show();
        $('#EditSchPassword').show();
        $('#EditbtnSchdule').show();
        $('#EditbtnSchCol12').hide();
        $('#EditPasswordToggle').val(true);
    }

    function HideRecordData() {
        $('#EditDivRecordData').hide();

    }

    function ShowRecordData() {
        $('#EditDivRecordData').show();

    }
    function ShowDateDiv() {
        $('#EventDayLabel').hide();


        $('#EventDayLabel').hide();
        $('#EventDayInput').hide();
        $('#EditEventLabel').show();
        $('#EventInput').show();

        //document.getElementById('divDay').style.display = 'none';
        //document.getElementById('divDate').style.display = 'block';

    }
    function ShowDayDiv() {

        $('#EventDayLabel').show();
        $('#EventDayInput').show();
        $('#EditEventLabel').hide();
        $('#EventInput').hide();


    }

    function DoPostBack() {
        var ChurchId = $('#HdnEditSession').val();


        $.ajax({
            url: "/Schedule/LoadCameraDDL",
            type: "GET",
            data: { ChurchId: ChurchId },
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            success: function (result) {
                var s = '<option value="0">--Select Camera--</option>';
                $.each(result, function (key, item) {
                    s += '<option value="' + item.cameraId + '">' + item.cameraName + '</option>'

                });

                $("#EditScheduleCameraId").html(s);


                $('#EditScheduleCameraId').val($('#HdnEditCameraId').val());


            },
            error: function (errormessage) {

                alert(errormessage.responseText);
            }
        });
    }









</script>

