@model MCNMedia_Dev.Models.GenericModel
@{

}
<style>

    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
        margin: 10px 0px 0px 0px;
    }

        .overlay button {
            margin: 5px;
        }

       
        .overlay:hover {
            opacity: 0.8;
            
        }
</style>
<script src="~/theme/js/modal-demo.js"></script>
<script type="text/javascript">
    var sizeTheOverlays = function () {
        $(".overlay").resize().each(function () {
            var h = $(this).parent().outerHeight();
            var w = $(this).parent().outerWidth();
            $(this).css("height", h);
            $(this).css("width", w);
        });
    };

    sizeTheOverlays();


    var width = $(window).width();
    $(window).resize(function () {
        if ($(this).width() != width) {
            width = $(this).width();
            sizeTheOverlays();
        }
    });



</script>


<div class="card">
    <div class="card-body">
        <button type="submit" id="AddChurchSchedule" title="Add New" class="btn btn-outline-behance btn-sm float-right " onclick="AddChurchSchedule()"> <i class="mdi mdi-plus"></i> Add New Schedule</button>
        <div class="">


            <table class="table float-center ">
                <thead>
                    <tr>

                        <th>
                            Days
                        </th>
                        <th>
                            Events
                        </th>

                    </tr>
                </thead>
                <tbody class="SchList">
                </tbody>
            </table>



        </div>

    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddChurchScheduleModel" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Schedule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddChurchSchedulePreview">
                        @Html.Partial("~/Views/ChurchSchedule/_AddSchedule.cshtml", Model.Schedules)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="EditChurchScheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Schedule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="EditChurchSchedulePreview">
                        @Html.Partial("~/Views/ChurchSchedule/_EditSchedule.cshtml", Model.Schedules)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function AddChurchSchedule() {

        $('#AddChurchScheduleModel').modal('show');

    }

    $(document).ready(function () {
        loadChurchSch();
    });



    function DeleteChurchSchedule(schId) {
        
        var ans = confirm("Are you sure you want to delete this Church Schedule?");
        if (ans) {
            $.ajax({
                url: "/ChurchSchedule/DeleteSchedule/" + schId,
                type: "POST",

                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    
                    loadChurchSch();
                    if (result) { alert("Record Deleted"); }
                },
                error: function (errormessage) {
                    // alert(errormessage.responseText);
                }
            });
        }
    }


    function loadChurchSch() {

        $.ajax({
            url: "/ChurchSchedule/ListSchedule",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';

                $.each(result, function (key, item) {
                    html += '<tr>';

                    html += "<td class='border-right-sm w-25 p-0'><div class='card'> <div class='card-body bg-info'> " + item.eventDay + "</div></div ></td > ";
                    var str = item.eventName;
                    var array = str.split('|');
                    html += "<td class='text-wrap p-0'>";
                    $.each(array, function (key, item2) {
                        if (item2.length > 0) {
                            var IconRecord ="<i class='fa  fa-video-camera  text-danger'></i>"
                            var array2 = item2.split(',');
                            html += "<div class='p-2 float-left'><div class='panel-body '><div class='overlay'> <a onclick='EditChurchSchedule(" + array2[1] + ")'  class='btn btn-primary btn-sm text-white' title='Edit' ><i class='fa fa-edit'></i></a><button onclick='DeleteChurchSchedule(" + array2[1] + " )' class='btn btn-danger btn-sm '  title='Delete' ><i class='mdi mdi-delete'></i></button></div><div class='card'><div class='card-body zoom '>" + array2[0] + "&emsp; " + (array2[2] == 1 ? IconRecord :'') +" </div></div></div> </div>";
                        }
                    }
                    );

                    html += '</td ></tr>';
                });
                $('.SchList').html(html);
            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            }
        });
    }


    function EditChurchSchedule(churchScheduleId) {
         $.ajax({
            type: "Get",
            url: '@Url.Action("EditSchedule", "ChurchSchedule")',
             data: { id: churchScheduleId },
             success: function (data) {

                 $('#EditChurchSchedulePreview').html(data);
                 CheckScheduleData();
                 $('#EditChurchScheduleModal').modal('show');


            }
        })
    }

    function DeleteChurchSchedule(ScheduleId) {
        var ans = confirm("Are you sure you want to delete this Schedule?");
        if (ans) {
            $.ajax({
                url: "/ChurchSchedule/DeleteSchedule/" + ScheduleId,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    loadChurchSch();
                    if (result) { alert("Schedule Deleted"); }
                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                }
            });
        }
    }



</script>





