@model MCNMedia_Dev.Models.Church

@{
    ViewData["Title"] = "Add Church";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form asp-action="AddChurch" enctype="multipart/form-data" >
        <div class="grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">New Church Information</h4>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                    <div class="col-lg-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                               
                                <input asp-for="ImageURl" type="file" name="ImageURl2" class="dropify" />
                                <span asp-validation-for="ImageURl" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group " style=" margin-left:550px;">

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label asp-for="ChurchName"> Church Name</label>
                                <input asp-for="ChurchName" class="form-control" />
                                <span asp-validation-for="ChurchName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-sm-12">
                                <label asp-for="ClientTypeId">Client Type </label>
                                @*<input asp-for="ClientTypeId" class="form-control" />*@
                                <span asp-validation-for="ClientTypeId" class="text-danger"></span>
                                <select asp-for="ClientTypeId" id="select1" class="form-control" asp-items="@(new SelectList(@ViewBag.ClientTypes,"Value","Text"))">
                                    <option>--Select Client--</option>
                                </select>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Location Details</h4>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label asp-for="Address"> Address</label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label asp-for="Town"> Town</label>
                                <input asp-for="Town" class="form-control" />
                                <span asp-validation-for="Town" class="text-danger"></span>
                            </div>
                            @*</div>
                            <div class="form-group row">*@
                            <div class="col-sm-6">
                                <label asp-for="CountyId" class=" text-center">County</label>
                                @*<input asp-for="CountyId" class="form-control" />*@
                                <span asp-validation-for="CountyId" class="text-danger"></span>
                                <select asp-for="CountyId" id="select1" class="form-control" asp-items="@(new SelectList(@ViewBag.Counties,"Value","Text"))">
                                    <option>--Select County--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Contact Details</h4>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label asp-for="Website">Website</label>
                                <input asp-for="Website" class="form-control" />
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label asp-for="EmailAddress">Email Address</label>
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            @*</div>
                            <div class="form-group row">*@
                            <div class="col-sm-6">
                                <label asp-for="Phone" class=" text-center">Phone</label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="float-right">
            <button type="submit" value="Add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Church</button>
            <a id="back" class="btn btn-secondary btn-sm  " href="../Church/Listchurch"><i class="fa fa-chevron-left"></i> Back</a>
        </div>

    </form>


@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
