@model IEnumerable<MCNMedia_Dev.Models.AnalyticsModel>
@{ ViewData["Title"] = "ChurchAnalytics";
     }

<form asp-action="ChurchAnalytics" asp-controller="Church">
    
    <div class="col-md-12 grid-margin">
    <div class="card">
        <div class="card-header card-header-custom">
            COUNTRIES ANALYTICS DETAIL
            <br />
            (Last 7 Days)
        </div>
        <div class="card-body">

            <div class="table-sorter-wrapper col-lg-12 table-responsive">
                <table id="sortable-table-1" class="table">
                    <thead>
                        <tr>
                            <th class="pl-0 border-bottom sortStyle">COUNTRY</th>
                            <th class="border-bottom sortStyle">TOTAL VIEWS</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var dassh in Model)
                        {
            <tr>
                <td class=" pl-0">
                    @Html.DisplayFor(modelItem => dassh.Country)
                </td>
                <td>
                    <p class="mb-0">
                        <span class="">
                            @Html.DisplayFor(modelItem => dassh.CountryCount)
                        </span>
                    </p>
                </td>

            </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</form>
    