<?xml version="1.0" encoding="utf-8"?>
<configuration>
  files:
  "C:\\StackifyInstall\\Install.cmd":
  source: http://stackifyprodwest.blob.core.windows.net/aws-install-scripts/Install.cmd
  "C:\\StackifyInstall\\Install.ps1":
  source: http://stackifyprodwest.blob.core.windows.net/aws-install-scripts/Install.ps1
  container_commands:
  stackify_install:
  command: Install.cmd
  cwd: "C:\\StackifyInstall"
  option_settings:
  - option_name: Stackify.ApiKey
  value: "2Bw6Js9Uf0Ts6Lw2Jm8Jb9En1Mc0Dy1Qy1Hd2Rn"
  - option_name: Stackify.EnableProfiler
  value: 1
  - option_name: Stackify.Environment
  value: Production
  - option_name: Stackify.RestartIIS
  value: 1
</configuration>