@model MCNMedia_Dev.Models.GenericModel
@{

}
<div class="row">
    <div class="col-sm-6">
        <video width="320" height="240" id="camera_1_html5_api" class="vjs-tech" preload="auto" data-setup="{&quot;fluid&quot;: true}" tabindex="-1" src="blob:https://mcnmedia.tv/c227d418-07d0-4b18-b896-f7a2c1cf763c" controls>
         
            <source src="https://1502594353.rsc.cdn77.org/live/_23b079cbd1f93615a4e57355415b9a67c1c5e9c8_/23b079cbd1f93615a4e57355415b9a67c1c5e9c8_4.stream/playlist.m3u8" type="application/vnd.apple.mpegurl" />
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="col-sm-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cameras.CameraId" id="CamId" />
            <div class="form-group">
                <label asp-for="Cameras.CameraName" class="control-label">Tab Name</label>
                <input asp-for="Cameras.CameraName" class="form-control" id="CamName" />
                <span asp-validation-for="Cameras.CameraName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cameras.CameraUrl" class="control-label">Camera RTSP</label>
                <input asp-for="Cameras.CameraUrl" class="form-control" />
                <span asp-validation-for="Cameras.CameraUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cameras.HttpPort" class="control-label">HTTP Port</label>
                <input asp-for="Cameras.HttpPort" class="form-control" />
                <span asp-validation-for="Cameras.HttpPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cameras.RtspPort" class="control-label">RTSP Port</label>
                <input asp-for="Cameras.RtspPort" class="form-control" />
                <span asp-validation-for="Cameras.RtspPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cameras.ServerName" class="control-label">Server</label>
                <input asp-for="Cameras.ServerName" class="form-control " readonly="readonly" id="CamName" />
                <span asp-validation-for="Cameras.ServerName" class="text-danger"></span>
            </div>
            <div class="form-group float-right">
                <a onclick="Openit(CamId.value)" class="btn btn-warning btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="mdi mdi-update text-white"> </i>Update</a>
                @*<button type="submit" value="Add" class="btn btn-primary btn-sm "><i class="fa fa-plus"></i> Update </button>*@
                <a id="back" class="btn btn-secondary btn-sm text-white " data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close-o text-white"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function Openit(camId) {
        
        var CameraId = $('#CamId').val();
        var CameraName = $('#CamName').val();
        var CameraUrl = $('#Cameras_CameraUrl').val();
        var HttpPort = $('#Cameras_HttpPort').val();
        var RtspPort = $('#Cameras_RtspPort').val();


        $.ajax({
            type: "POST",
            url: "/Camera/UpdateCamera/",
            //data: camObj,

            data: { CameraId: CameraId, CameraName: CameraName, CameraUrl: CameraUrl, HttpPort: HttpPort, RtspPort: RtspPort },

            //   contentType: "application/json;charset=UTF-8",
            //  dataType: "json",
            success: function (result) {
                loadCamera();
                $('#EditModal').modal('hide');  
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>
