/*Top Menu Item Color*/
nav-clink {
    color: #fff !important;
}

a.nav-clink {
    color: white !important;
    text-transform: uppercase;
    font-size: 16px;
}

a.nav-clink-active {
    border-bottom: 2px solid #FFF;
    text-transform: uppercase;
}

.church-details-icon {
    color: #1f4a79 !important;
}

.horizontal-menu .top-navbar-c {
    height: 90px;
    background: #1f4a79;
}

.horizontal-menu .top-navbar-c {
    height: 90px;
    background: #1f4a79;
}

.nav-pills-info .nav-link.active {
    background: #1f4a79;
}

a.nav-link.active i {
    color: white !important;
}

.custom-card {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 7px;
}

}
/*Logo Height Client*/
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand img {
    height: 60px;
}

.horizontal-menu .top-navbar {
    background-color: #1f4a79 !important;
}
/*Top Bar Right Section*/
.navbar .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: white;
    /*padding-left: 2.55rem;
    padding-right: 2.55rem;*/
    width: calc(100% - 237px);
    height: 70px;
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-title {
    font-size: 0.875rem;
    font-weight: bold;
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-icon {
    color: #1f4a79;
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link .menu-title, .horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link i, .horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link .menu-arrow {
    color: #1f4a79;
}

.horizontal-menu .bottom-navbar {
     box-shadow: none; 
     -webkit-box-shadow: none; 
    -moz-box-shadow: none;
}
/*********************************************************************/
/*Title Bar Section of Form on each page*/
.card-header-custom {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #1f4a79;
    border-bottom: 1px solid white;
    color: white;
    text-transform: uppercase;
    line-height: 35px;
}
/*********************************************************************/

/*Side Bar Section*/
.sidebar {
    min-height: calc(100vh - 70px);
    background: #ddb500;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0;
    width: 237px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
}

    .sidebar .nav:not(.sub-menu) > .nav-item.active {
        background: #2F2C2C;
        border-radius: 0.437rem;
    }

    .sidebar .nav .nav-item .nav-link i.menu-icon {
        font-size: 1rem;
        line-height: 1;
        margin-right: 1rem;
        color: #2F2C2C;
    }
    /*********************************************************************/

    /*Side Bar Active Menu*/
    .sidebar .nav .nav-item.active > .nav-link i, .sidebar .nav .nav-item.active > .nav-link .menu-title, .sidebar .nav .nav-item.active > .nav-link .menu-arrow {
        color: #ddb500;
    }
    /*  .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link, .sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
        background: #ddb500;
        color: #2F2C2C;
        border-radius: 0.437rem;
    }*/
    .sidebar .nav .nav-item .nav-link {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        white-space: nowrap;
        padding: 0.75rem 1.937rem 0.75rem 1rem;
        color: #2F2C2C;
        -webkit-transition-duration: 0.45s;
        -moz-transition-duration: 0.45s;
        -o-transition-duration: 0.45s;
        transition-duration: 0.45s;
        transition-property: color;
        -webkit-transition-property: color;
    }
/*********************************************************************/

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem !important;
    color: white;
    background-color: #1f4a79;
    border-bottom: 1px solid white;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    text-transform: uppercase;
}

.login-full-bg {
    background: url("images/LoginImage.jpg");
    background-size: auto;
    background-size: cover;
}

.auth .login-half-bg {
    background: none;
    background-size: auto;
    background-size: cover;
    opacity: 0.7;
}

.login-half-right-bg {
    /* background-image: none;
    background-color: #ddb500;
    background-size: auto;
    background-size: cover;
    opacity: 0.85;*/
}

.auth.auth-img-bg .auth-form-transparent {
    width: 85%;
    margin: auto;
}

.signIn_panel {
    background: #ededed;
    /*   -moz-box-shadow: 0 0 3px 3px #ddd;
    -webkit-box-shadow: 0 0 3px 3px #ddd;
    box-shadow: 0 0 3px 3px #ddd;*/
    padding: 30px 10px;
    margin-bottom: 10px;
    width: 50%;
}

.img-profile{
    width:100% !important;
    border-radius:30px;
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .content-wrapper {
        max-width: 1180px;
    }
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link {
    border-bottom: 3px solid #1f4a79;
}

.btn-outline-white {
    border: 1px solid #ffffff;
    color: #ffffff;
}


    .btn-outline-white:hover {
        background: #ffffff;
        color: #1f4a79;
    }

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -18px -16px -21px auto;
}
.donation-list-img{
    width:200px !important;
    height:auto !important;
    border-radius:inherit !important;
}