.top-Menu-item {
    color: #372548 !important;
}
.slide-image {
    height:auto !important;
    width:100% !important;
}

.church-profile-image {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}