@model MCNMedia_Dev.Models.GenericModel

@{
    ViewData["Title"] = "ListDonation";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        Church Donation
        <a id="btnAddDonation" class="btn btn-outline-warning btn-custom btn-sm float-right" onclick="AddDonationPopUp()" title="Add New"> <i class="fa fa-plus"></i> Add Donation</a>
    </div>
    <div class="card-body">
        <div id="order-listing_wrapper" class="dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <table id="order-listing" class="table dataTable no-footer" role="grid" hidden>
                            <thead>
                                <tr>
                                    <th class="sortStyle">Church <i class="ti-angle-down"></i></th>
                                    <th class="sortStyle">Image Url <i class="ti-angle-down"></i></th>
                                    <th class="sortStyle">WebSite Url <i class="ti-angle-down"></i></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="churchDonationList">
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddDonationPopUp" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Donation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddChurchPreview">
                        @Html.Partial("~/Views/ChurchDonation/AddDonation.cshtml", new ChurchDonation())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function AddDonationPopUp() {


        $('#AddDonationPopUp').modal('show');

    }


    
    $(document).ready(function () {
        $('#order-listing').removeAttr('hidden');
        loadDonation();
    });

    function loadDonation() {
        $.ajax({
            url: "/ChurchDonation/ListDonationJson",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                if (result.length > 0) {
                    $('#btnAddDonation').hide();
                }
                else {
                    $('#btnAddDonation').show();
                }
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td class="text-wrap">' + item.churchName  + '</td>';
                    html += '<td  >  <div id="lightgallery" class="row lightGallery"><img src=' + item.imageUrl + ' class="w-100 h-100"  /></div></td>';
                    html += '<td class="text-wrap">' + item.webSiteUrl  + '</td>';
                    html += ' <td>';

                    html += '<a onclick="EditChurchDonation(' + item.doonationId + ')" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit text-white"></i></a>&nbsp;';
                    html += '<a onclick="DeleteChurchDonation(' + item.doonationId + ')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash text-white"></i></a>';
                    html += ' </td>';
                    html += '</tr>';
                });
                $('.churchDonationList').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

   

    function EditAnnouncement(doonationId) {
         $.ajax({
            type: "Get",
            url: '@Url.Action("EditAnnouncement", "Announcement")',
             data: { id: churchAnnouncementId },
            success: function (data) {
                $('#EditAnnouncementPreview').html(data);
                $('#EditAnnouncementModal').modal('show');

            }
        })
    }

    function DeleteChurchDonation(doonationId) {

    var ans = confirm("Are you sure you want to delete this Announcement?");
    if (ans) {
        $.ajax({
            url: "/ChurchDonation/DeleteDonation/" + doonationId,
            type: "POST",

            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                loadAnnouncement();
                if (result) { alert("Record Deleted");}
            },
            error: function (errormessage) {
               // alert(errormessage.responseText);
            }
        });
    }
    }


</script>
