@model MCNMedia_Dev.Models.GenericModel
@{

}

<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/theme/vendors/summernote/dist/summernote-bs4.css">
<link rel="stylesheet" href="~/theme/vendors/quill/quill.snow.css">
<link rel="stylesheet" href="~/theme/vendors/simplemde/simplemde.min.css">
<!-- End plugin css for this page -->

@using (Html.BeginForm("UpdateNotice", "Notice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Notices.ChurchNoticeId" id="chNoticeId" />
                <div class="form-group">
                    <label asp-for="Notices.NoticeTitle" class="control-label">Title</label>
                    <input asp-for="Notices.NoticeTitle" class="form-control" id="editnoticeTitle" />
                    <span asp-validation-for="Notices.NoticeTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notices.NoticeName" class="control-label">Notice</label>


                    <textarea id="summernoteExample" asp-for="Notices.NoticeName"></textarea>

                    <span asp-validation-for="Notices.NoticeName" class="text-danger"></span>

                </div>
                <div class="form-group float-right">
                    <a onclick="UpdateNotice()" class="btn btn-warning btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="mdi mdi-update text-white"></i>Update</a>
                    <a id="back" class="btn btn-secondary btn-sm text-white " data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close-o text-white"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>


    <script type="text/javascript">
        function UpdateNotice() {

            var churchNoticeId = $('#chNoticeId').val();
            var formData = new FormData();
            var noticeTitle = document.getElementById('editnoticeTitle').value;
            formData.append("ChurchNoticeId", churchNoticeId);
            formData.append("NoticeTitle", noticeTitle);
            var noticeName = $("#summernoteExample").summernote('code');
  
            
       
            formData.append("NoticeName", noticeName);

            $.ajax({
                type: "POST",
                url: "/Notice/UpdateNotice/",

                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType


                success: function (result) {
                    loadNotice();
                    $('#EditNoticeModal').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


    </script>
}

<script src="~/theme/vendors/summernote/dist/summernote-bs4.min.js"></script>
<script src="~/theme/vendors/tinymce/tinymce.min.js"></script>
<script src="~/theme/vendors/quill/quill.min.js"></script>
<script src="~/theme/vendors/simplemde/simplemde.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="~/theme/js/editorDemo.js"></script>
<!-- End custom js for this page-->