@using Microsoft.AspNetCore.Http;
@model MCNMedia_Dev.Models.GenericModel
@{
    ViewData["Title"] = "ChurchLock";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


@{
    TempData.Keep("Slug");
    TempData.Keep("ChurchPassword");
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{

    <div class="row m-0 mb-3">
        <div class="col-lg-12">
            <div class="alert alert-danger">
                @ViewBag.ErrorMsg;
            </div>

        </div>

    </div>

}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth lock-full-bg">
            <div class="row w-100 justify-content-center">
                <div class="col-lg-8 mx-auto">
                    <div class="auth-form-transparent text-left p-0 text-center">
                        <label class="mb-1 pt-4 font-18 font-weight-bolder text-pink " for="examplePassword1"><p>This Camera has been Password Protected.</p> <p> Please contact <b> @Context.Session.GetString("chrName") </b> for the password for this Camera.</p></label>
                        <Center>
                            <form class="pt-5 col-lg-6  " asp-action="ChurchLock" asp-controller="Website" method="post">
                                <div class="form-group ">
                                    <input type="hidden" value=@ViewData["slugForlockPage"] name="Slug" />
                                    <input type="hidden" value=@ViewData["PasswordForlockPage"] name="Password" />


                                    <input type="password" asp-for="churchLock.Password" class="form-control text-center" id="examplePassword1" placeholder="Password">
                                </div>
                                <div class="mt-5">
                                    <button type="submit" class="btn btn-block bg-blue text-white btn-lg font-weight-medium" href="@Url.Action("ChurchLock", "Website")">Unlock</button>
                                </div>
                                <br />
                                @{ if (ViewBag.IsSuccess == 3)
                                    {
                                        <div class="alert alert-danger text-danger">
                                            Password Incorrect
                                        </div> } }
                            </form>
                        </Center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
