
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<style type="text/css">
    .selectWrapper {
        border-radius: 40px;
        display: inline-block;
        overflow: hidden;
        background: #cccccc;
        border: 1px solid #cccccc;
    }

   
</style>
<div class="card">
    <div class="card-body">
        <Marquee><h2>CONTACT US</h2></Marquee>
    </div>

</div>
<div class="col-sm-12 ">

  </div>

<div class=" row">
    <div class="col-sm-6 " style="background-color:#1e1625">
        <h4 class="text-center mt-5 text-white">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</h4>
        <div class="row col-sm-12 mt-5">

            <div class="form-group col-sm-6 text-white">
                <label for="exampleInputUsername1 ">Name</label>
                <input type="text" class="form-control selectWrapper" id="exampleInputUsername1" placeholder="name">
            </div>
            <div class="form-group col-sm-6 text-white">
                <label for="exampleInputEmail1">Email Address</label>
                <input type="email" class="form-control selectWrapper" id="exampleInputEmail1" placeholder="Email">
            </div>

        </div>


        <div class="form-group col-sm-12 text-white">
            <label for="exampleInputUsername1">Subject</label>
            <input type="text" class="form-control selectWrapper" id="exampleInputUsername1" placeholder="subject">
        </div>
        <div class="form-group col-sm-12 text-white">
            <label class="col-form-label">Your Message</label>
            <textarea id="maxlength-textarea" class="form-control selectWrapper" maxlength="150" rows="4"></textarea>
        </div>
        <div class="form-group col-sm-12 float-right rounded-sm "><input class="btn btn-primary" type="submit" value="Send"></div>


    </div>
    <div class="col-sm-6 p-0 m-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2316.746365106911!2d-6.780964684117638!3d54.50269748023756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x320a61ca1b228a11!2sMCN+NI+Ltd!5e0!3m2!1sen!2suk!4v1541503340298"
                height="550" style="width:100%;border:0" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
