@model MCNMedia_Dev.Models.Recording

@{
    ViewData["Title"] = "AddRecording";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="AddRecording">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="card">
        <div class="card-body">
            <h4 class="modal-title">Add Recording</h4>

            <div class="form-group row">
                <label asp-for="RecordingTitle" class="col-sm-3 col-form-label"> Recording Title</label>
                <div class="col-sm-9">
                    <span asp-validation-for="RecordingTitle" class="text-danger"></span>
                    <input asp-for="RecordingTitle" class="form-control" />
                </div>
            </div>
           <div class="form-group row">
               <label asp-for="RecordingURl" class="col-sm-3 col-form-label">Recording URl </label>
                <div class="col-sm-9">
                    <span asp-validation-for="RecordingURl" class="text-danger"></span>
                    <input asp-for="RecordingURl" class="form-control" />
                </div>
            </div>
           <div class="form-group row">
               <label asp-for="ChurchId" class="col-sm-3 col-form-label">Church</label>
               <div class="col-sm-9">
                   <span asp-validation-for="ChurchId" class="text-danger"></span>
                <select asp-for="ChurchId" id="select1" class="custom-select" asp-items="@(new SelectList(@ViewBag.State,"Value","Text"))">
                    <option value="0" selected disabled>--Select Church--</option>
                   </select>
               </div>
           </div>

                <div class="form-group row">
                    <label asp-for="Date" class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-3">
                        <span asp-validation-for="Date" class="text-danger"></span>
                        <div id="datepicker-popup" class="input-group date datepicker">
                            <input asp-for="Date" type="text" class="form-control" >
                            <span class="input-group-addon input-group-append border-left">
                                <span class="ti-calendar input-group-text"></span>
                            </span>
                        </div>
                    </div>
                @*</div>
                <div class="form-group row">*@
                    <label asp-for="Time" for="default-picker" class="col-sm-3 col-form-label text-center">Time</label>
                    <div class="col-sm-3">
                        <span asp-validation-for="Time" class="text-danger"></span>
                        <div class="input-group date" id="timepicker-example" data-target-input="nearest">
                            <div class="input-group" data-target="#timepicker-example" data-toggle="datetimepicker">
                                <input asp-for="Time" type="text" class="form-control datetimepicker-input" data-target="#timepicker-example" />
                                <div class="input-group-addon input-group-append"><i class="ti-time input-group-text"></i></div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="float-right">
                        <button type="submit" value="Create" class="btn btn-primary "><i class="fa fa-plus"></i> Add Recording</button>
                        <a id="back" class="btn btn-secondary btn-md " href="../Recording/ListRecording"><i class="fa fa-chevron-left"></i> Back</a>
                    </div>

                
            </div>
    </div>
</form>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
